<template>
<v-content class="page-container">
    <v-container fluid grid-list-md class="content">
        <v-layout row wrap>
            <v-flex md2 sm12>
                <v-card>
                    <v-card-title class="elevation-1 title mb-1">
                        <v-icon>menu</v-icon>帮助中心
                    </v-card-title>
                    <v-card-text class="pa-0 elevation-1">
                        <v-expansion-panel>
                            <v-expansion-panel-content v-for="(item,i) in left" :key="i" class="mb-0" hide-actions style="max-width:100%">
                                <div slot="header" @click="cur=i">
                                    <v-icon>{{item.action}}</v-icon>{{item.title}}
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex md10 sm12>
                <v-card>
                    <v-card-title class="elevation-1 title mb-1">
                        <v-icon>help</v-icon>{{left[cur]["title"]}}
                    </v-card-title>
                    <v-card-text class="elevation-1">
                        <v-layout>
                            <v-flex md12>
                             <v-tabs slider-color="primary" v-show="cur==0">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <div class="commonCoRight">
                                                    <h2>关于我们</h2>
                                                    
                                                    <div class="aboutCo">
                                                        <p>皇朝娱乐乃正式注册的网上博彩公司。成立至今，我们不但为客户提供各种体育博彩以及多元化网上娱乐，更承诺配备最优质的投注方法，并辅以最先进的网络技术支援，献上最佳的客户服务和最优惠的支付方案。我们致力于为广大客户提供丰富精彩的博彩活动，并极力以最优质的收费方式及丰富奖赏作回馈。</p>
                                                        
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>诚信</h3>
                                                        <p>作为国际专业的网上博彩游戏客户端运营企业，我们凭藉集合世界级的博彩资讯专家、丰富经验的服务团队、市场营销专家、先进的软硬件开发人员建立出 皇朝娱乐全面而完善的组织体系。我们承诺，为每一位客户提供最新、最安全、最准确的专业博彩数据，以及全方位的国际化服务。同时，皇朝娱乐全部游戏设计均采用世界最领先的软件。我们更聘请了多位资深计算机专家给公司设计和提供软硬件设施维护服务，以提供最佳的技术支援，确保客户能每时每刻享受到最优质的娱乐服务。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>优质服务承诺</h3>
                                                        <p>自成立至今，皇朝娱乐致力提供多元化的体育博彩及网上娱乐，让客户能每天24小时体验到最精采刺激的消闲享受，更藉以丰富奖赏，以回馈普通大众对我们的支持及热烈参与。 我们恪守「顾客至上」的宗旨，以力求创新，不断进步的精神，开拓多元化的娱乐业务。为此，我们聘用庞大的服务团队，凭藉市场推广、软件开发、客户服务、技术支援等优秀人员的不懈努力，为客户提供专业的娱乐服务。我们承诺，置身于皇朝娱乐游戏平台的客户，不论参与的是体育娱乐，还是其他网上游戏，也都能享有极具价值的博彩回报。同时，每名客户的资讯保密性对我们来说是最重要的。我们承诺，将不遗余力地坚持严格实行保密和隐私制度。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>严格维护保密及安全性</h3>
                                                        <p>根据规定，每位皇朝娱乐用户只能拥有一个相对应的帐户。为维护系统的完整性及公平原则，我们将会进行不定期的安全检查。客户的安全和游戏的公正性乃皇朝娱乐最重要的服务信念与宗旨。我们采用的是全球最先进的游戏软件设备，保证了软件本身的公正性。同时，本公司更用上最先进的加密措施来保证游戏的安全，并作24小时的后台检测和监控，确保我们的客户可以在一个最保密、最安全的网络游戏空间尽情玩乐。</p>
                                                    </div>

                                                    
                                                    <div class="aboutCo">
                                                        <h3>公平游戏</h3>
                                                        <p>皇朝娱乐致力为玩家提供最公正的环境，在一个结合体育博彩及网络直播的娱乐平台上尽情耍乐。皇朝娱乐线上娱乐平台乃现时亚洲市场最具权威及最先进的科技系统所提供。此外，所有参与现场游戏的荷官均经过严格训练及挑选，每局牌局均有主管负责监察，以确保游戏的真实度。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>付款</h3>
                                                        <p>我们提供各种安全简便的存款及提款选择给客户。 我们一直主张客户「了解我们的用户(KYC)」和反洗钱(AML)的原则，并与第三方的财务管理当局合作，用以确保在最大程度上遵从相关的法律及法规。皇朝娱乐希望所有的客户能够在一个安全愉快的环境中，享受本公司精心设计的产品和服务，并能够从中获利。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>负责任博彩</h3>
                                                        <p>皇朝娱乐承诺提供「负责任博彩」，并确保每位客户能与我们一起享受到博彩的乐趣。但是我们也瞭解到有小部分的人有时候未必能控制自己的投注行为，如遇相关问题，皇朝娱乐会积极鼓励这些用户及时与我们联络，以便尽早提供相关帮助。</p>
                                                    </div>


                                                </div>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>

                                </v-tabs>

                                <v-tabs slider-color="primary" v-show="cur==1">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p>1. 点击网站右上方的“免费开户”按钮进入页面</p>
                                                <p>2. 正确填写表格中的各项内容，并勾选确认已满18岁，并且接受各项政策条款</p>
                                                <p>3. 如果提交的资料已确认完毕，系统将会出现弹窗信息提示您已注册成功</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 1. 请登录会员账号，点击右上方“存款”按钮</p>
                                                <p> 2. 请填入存款金额，选择支付方式，确认后，点击提交</p>
                                                <p> 3. 进入您的支付渠道支付：如微信扫码、银行网银等</p>
                                                <p> 4. 支付成功</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p>1. 请登录会员账号，点击右上方“取款”按钮</p>
                                                <p>2. 完善银行资料信息，绑定银行账户（如您已完善信息，请跳过）</p>
                                                <p>3. 在取款页面中，请输入取款金额和取款密码，点击“提交”，完成取款</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p>1. 检查您的用户名及密码大小写，不要有空格</p>
                                                <p>2. 请联系在线客服</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>

                                <v-tabs slider-color="primary" v-show="cur==2">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 1. 网站域名：</p>
                                                <p> a) 答：官方永久域名：gxtc360.com</p>
                                                <p> 2. 我需要安装软件吗？</p>
                                                <p> a) 答：本网站游戏均无需安装游戏，即可在网页参与；如果后期想更方便找到我们，可以下载“手机App”。</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 3. 最低和最高存款要求？</p>
                                                <p> a) 答：最低存款金额是100元人民币，最高存款金额无上限。</p>
                                                <p> 4. 有哪些存款方式？</p>
                                                <p> a) 答：您可以通过网银转账、ATM柜员机、银行柜台、支付宝或微信支付等方式进行存款。</p>
                                                <p> 5. 存款时间？</p>
                                                <p> a) 答：极速存款、微信支付：完成支付后一般都是即时到账，如果出现延迟到账，请联系在线客服。银行转账：相关部门会在确认收到款项后10分钟内办理入账。</p>
                                                <p> 6. 手续费？</p>
                                                <p> a) 答：本网站存款、取款不收取任何手续费，如果您是属于银行转账存款的话，根据不同银行政策银行有可能收取一定手续费。</p>
                                                <p> 7. 单日最低和最高取款限额？</p>
                                                <p> a) 答：每笔最低取款100元人民币，每次最高取款限额5万，每天取款最多5次，当天最高取款25万元人民币。</p>
                                                <p> 8. 取款时间？</p>
                                                <p> a) 答：根据审核程序，从您申请取款开始，正常银行工作日时间一般在15分钟左右到账，具体取决于您的取款银行。（银行柜台工作时间：周末 / 节假日 除外的周一至周五早上9:00-17:00）如遇周末、节假日、银行系统维护、跨行转账及平台方抽查审核，时间将会相应顺延。两个小时资金未到账，请联系在线客服。
                                                </p>
                                                <p> 9. 身份验证？</p>
                                                <p>答：当发现用户帐户出现以下任一情况的时候，可能会被要求进行身份证验证，同时我们保证您所提供的一切个人信息只会用做验证您身份的真实性，且都会被严格保密，提交资料后审核时间为7个工作日。 帐户信息修改类 修改真实姓名 客户无法自行通过身份验证 客户忘记登录密码、保密答案 客户需修改手机号码、邮箱地址信息 账户审核类 客户首次大额提款 怀疑客户有违规投注、异常操作等行为（内含高盈利客户） 怀疑客户账户存在同设备多账户、异常登录、被盗嫌疑等安全风险情况
                                                    怀疑客户在网站进行恶意操作等行为（含恶意骗取银行卡信息客户、恶意篡改网站代码等客户）
                                                </p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 10. 什么是主、子钱包？</p>
                                                <p> a) 答：主钱包是皇朝娱乐网站平台的主资金账户钱包，所有入款都会进入主钱包，所有取款都由主钱包取款；子钱包指的是各个游戏子账户的钱包，在玩家想参与其中一款游戏前需把资金从主钱包转入到对应的游戏账户子钱包，游戏结束如需取款，需把游戏账户子钱包的资金转入到平台资金账户主钱包，然后从主钱包进行取款提交。
                                                </p>
                                                <p> 11. 平台账户主钱包转入到游戏账户子钱包？</p>
                                                <p> a) 答：在“个人中心”选择“转出钱包”、“转账至钱包”和“金额”，点击“转账”按钮即可。</p>
                                                <p> 12. 游戏账户子钱包转入到平台账户主钱包？</p>
                                                <p> a) 答：在“个人中心”选择“转出钱包”、“转账至钱包”和“金额”，点击“转账”按钮即可。</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 13. 比较兼容的浏览器</p>
                                                <p> 答：由于一些浏览器的设置与网站冲突，可能无法正常显示网站。推荐的浏览器有：</p>
                                                <p> ① 谷歌浏览器</p>
                                                <p> ② IE浏览器</p>
                                                <p> ③ 火狐浏览器</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">

                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>
                                <v-tabs slider-color="primary" v-show="cur==3">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <div class="commonCoRight">
                                                    <h2>用户使用条款</h2>
                                                    <div class="aboutCo">
                                                        <h3>1.条款的接受</h3>
                                                        <p>1.1</p>
                                                        <p>皇朝娱乐在其网站（以及相关网站）（“有关网站”）上提供体育博彩和若干娱乐（包括真人娱乐）游戏，有关网站包括其不时载列或提供的所有文本、图片、音频、代码、功能、工具、材料和其他服务（统称“有关内容”）</p>
                                                        <p>皇朝娱乐不时提供的有关网站和有关内容（包括联合品牌或附属服务）在本条款中称为“有关服务”。</p>
                                                        <p>1.2</p>
                                                        <p>1.3</p>
                                                        <p>凡提述“您”、“您的”或“玩家”均为提述任何使用有关网站或有关服务的人，或皇朝娱乐的任何注册玩家。</p>
                                                        <p>1.4</p>
                                                        <p>请在使用有关服务前细阅本使用条款。通过使用网站域名或以其他方式访问有关服务，或在提供有关选项时点击接受或同意本使用条款，即表示您同意受下述各项约束：</p>
                                                        <p>1.4.1 有关条款和细则（“一般条款”）；</p>
                                                        <p>1.4.2 我们的隐私政策；</p>
                                                        <p>1.4.3 有关规则（其定义为适用于特定相关投注或博彩类型的投注规则和游戏规则，更多详情载于第1.4.4和1.4.5条）； </p>
                                                        <p>1.4.4 与您经由有关服务投注相关的规则（“投注规则”），载于有关网站的相关通用 “帮助”一节和适用规则的选项卡；</p>
                                                        <p>1.4.5 与您通过有关服务所玩任何游戏（包括不时推出的任何新游戏）有关的规则（“游戏规则”），载于有关网站的相关通用“帮助”一节和适用规则的选项卡；</p>
                                                        <p>1.4.6 与我们可能不时提供的促销、红利和特别优惠相关的任何适用条款和细则或规则（“红利条款”）； </p>
                                                        <p>1.4.7 与取款相关的任何条款和细则，载于有关网站“帮助”一节“取款”部分（“取款条款”）；及</p>
                                                        <p>1.4.8 适用于有关服务或要求您确认同意以便享受有关服务的任何其他条款（“附加条款”）；</p>
                                                        <p>（统称“使用条款”）。 </p>
                                                        <p>1.5 使用条款的原文为英文，对使用条款的任何解释将以英文原文为基础。如果使用条款（或与之有关的任何文件或通知）被译成任何其他语言，概以原版英文为准。</p>
                                                        <p>1.6 倘若构成您与皇朝娱乐所订合同的使用条款，其任何单个部分之间有任何冲突或不一致，则其优先顺序如下：</p>
                                                        <p>1.6.1 取款条款；</p>
                                                        <p>1.6.2 红利条款；</p>
                                                        <p>1.6.3 投注规则；</p>
                                                        <p>1.6.4 游戏规则；</p>
                                                        <p>1.6.5 附加条款；</p>
                                                        <p>1.6.6 一般条款；</p>
                                                        <p>1.6.7 隐私政策。</p>
                                                        <p>1.7 如果您不同意使用条款，您不应访问或使用有关内容、有关网站或有关服务。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>2. 使用条款的修改</h3>
                                                        <p>2.1 皇朝娱乐保留权利随时修改或替换使用条款。一般条款，以及构成您与皇朝娱乐所订合同的使用条款单个部分（载于上文第1.4条）的最新版本，将在有关网站上发布。您应负责查看和熟悉任何有关修改。 </p>
                                                        <p>2.2 如果对使用条款作出重大更改，我们会在您下次访问您的账户时或在作出更改时使用我们持有的您的联系详情联络您，将相关更改通知您。如果我们使用我们持有的您的联系详情，将有关更改通知您，则我们有权应用使用条款的任何更改，除非您由于未能将联系详情的任何更改通知我们而因此未能收到我们的通知，如果您不同意有关更改，您应联系我们并停止使用有关网站和有关服务。您在对使用条款的任何修改后使用有关服务，即表示您接受经修改的使用条款。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>3. 玩家账户</h3>
                                                        <p>注册</p>
                                                        <p>3.1 您需要在皇朝娱乐开立一个玩家账户（“账户”），方可经由有关服务参加任何游戏或下注。 </p>
                                                        <p>3.2 所有申请人必须超过18岁或达到他们所居国家的最低法定年龄，并须具有在皇朝娱乐注册和开户的法律行为能力。皇朝娱乐保留权利要求任何玩家提供年龄和身份证明，以及在其根据第4条（验证和洗钱检查）提供令人信纳的文件之前暂停其账户。</p>
                                                        <p>3.3 如需开户，您将被要求向皇朝娱乐提供准确、最新和完整的个人信息，可能包括您的姓名、出生日期和适当的联系方式详情，比如地址、电话号码和电子邮件地址（“注册资料”）。您同意维护和及时更新您的注册资料，使其保持准确、最新和完整。如果您提供任何不准确、非最新或不完整的信息，或者皇朝娱乐有合理理由怀疑有关信息不准确、非最新或不完整，皇朝娱乐可拒绝您访问需要注册的区域，或者暂停或终止您的账户，等待进一步调查。</p>
                                                        <p>3.4 通过完成注册过程，您即陈述和保证：</p>
                                                        <p>3.4.1 您超过18岁或达到您所居国家的最低法定年龄； </p>
                                                        <p>3.4.2 您完全能够且有资格订立使用条款并使用有关服务，以及具备订立使用条款和使用有关服务的法律行为能力； </p>
                                                        <p>3.4.3 您了解使用有关服务可能会赢钱也可能会输钱，并承担有关风险； </p>
                                                        <p>3.4.4 您并未持有皇朝娱乐根据第7条（被禁止行为）关闭的账户。</p>
                                                        <p>3.5 无论何时，您只能设立、维持、使用和操作一个账户。如果皇朝娱乐确定您已开立、维持、使用或操作一个以上的账户，则除皇朝娱乐可能享有的任何其他权利外，皇朝娱乐保留权利暂停或终止您的任何或所有账户，以及终止、拒绝或撤销任何奖金、免费注金、红利或彩金的授予。 </p>
                                                        <p>3.6 皇朝娱乐保留权利暂停或终止其怀疑或识别为与您有联系或有关联的任何其他账户。 </p>
                                                        <p>账户密码和安全</p>
                                                        <p>3.7 在注册账户时，您必须选择用于您账户的用户名和密码组合。您不可使用宣传商业企业的用户名或皇朝娱乐凭其全权酌情决定权视为具有冒犯性的用户名。 </p>
                                                        <p>3.8 您应负责：</p>
                                                        <p>3.8.1 对与您账户有关的用户名和密码予以保密； </p>
                                                        <p>3.8.2 在正确输入您的用户名和密码的情况下，对您账户的一切使用（不论是否获得授权）；</p>
                                                        <p>3.8.3 您用于通过您账户参加任何游戏或下注的访问设备的安全，以及在您账户上发生的任何其他活动的安全。 </p>
                                                        <p>3.9 您同意：</p>
                                                        <p>3.9.1 对您的用户名和密码予以保密，不与任何其他人分享您的用户名和密码（并且您确认无法与任何其他人共同拥有您的账户）； </p>
                                                        <p>3.9.2 即时将任何未经授权而使用您的用户名和密码或账户的情况，或者任何其他违反安全的情况通知皇朝娱乐；</p>
                                                        <p>3.9.3 仅使用您自己的用户名和密码访问有关服务。 </p>
                                                        <p>3.10 您确认和同意，皇朝娱乐获授权根据其接获的通过使用您的用户名和密码而作出的指示来行动。</p>
                                                        <p>3.11 皇朝娱乐无法且概不会就因您未能遵守第3条而产生的任何损失或损害承担法律责任。</p>
                                                        <p>3.12 可能出现皇朝娱乐 </p>
                                                        <p class="aboutCoChild">(i)要求您更改您的用户名；</p>
                                                        <p class="aboutCoChild">(ii)自行更改您的用户名的情况。</p>
                                                        <p>在任何一种情况下，皇朝娱乐将使用您的注册详情，立即告知您有关决定以及更改您的用户名的原因（如果可行）。</p>
                                                        <p>通讯和信息实务</p>
                                                        <p>3.13 在账户注册过程中，您将有机会选择“拒绝接收”皇朝娱乐发出的营销通讯，包括与任何促销活动有关的信息。如果您不希望我们使用您的注册资料向您发送与有关服务相关的营销信息，请在您开户时按照指示勾选相关方框表明此意。</p>
                                                        <p>3.14 一旦开户，您即可通过调整您账户中的营销偏好设置，选择您希望以何种方式接收营销通讯，比如通过电子邮件、SMS、邮件或其他方式。您还可以通过更新您账户中的营销偏好设置，或点击我们所有营销通讯载有的退订链接，随时选择停止接收任何营销通讯。</p>
                                                        <p>3.15 我们将遵守与您提供给我们的个人信息相关的所有适用资料保护法律。您的个人信息将根据我们的隐私政策予以处理。</p>
                                                        <p>不活跃账户</p>
                                                        <p>3.16 如果您在至少12个月期间内未登录您的账户，皇朝娱乐保留权利按照下列程序收取一笔管理费（“休眠账户收费”）：</p>
                                                        <p>3.16.1 如果您在12个月期间内未登录您的账户，您的账户将被归为“休眠”账户；</p>
                                                        <p>3.16.2 被归为休眠账户后倘若您的账户有顺差，皇朝娱乐会在您的账户变成休眠账户时，使用皇朝娱乐持有的您的注册资料，采取一切合理措施通知您。 </p>
                                                        <p>3.16.3 如果在皇朝娱乐首次尝试通知您的账户已变成休眠账户后28天的最短期间之后，您的账户依然处于休眠状态，皇朝娱乐会从您的账户余额中扣除5英镑的每月休眠账户收费，或您的账户在被归为休眠账户时的余额之10%（以较高者为准）；</p>
                                                        <p>3.16.4 根据上文第3.16.3条计算的休眠账户收费，将在上述28天通知期届满时及此后每隔28天，按相同费率从您的账户余额中扣除，直至发生下述任何一种情况（以较早者为准）：</p>
                                                        <p class="aboutCoChild">(i)您的账户余额为零，届时将不会进一步扣除休眠账户收费，而您的账户将被关闭；</p>
                                                        <p class="aboutCoChild">(ii)您“重新激活”您的账户，届时将不会进一步扣除休眠账户收费。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>4. 验证及洗钱检查</h3>
                                                        <p>4.1 您必须注册一种付款方式并向您的账户存款，方可经由有关服务玩任何付费游戏或下注。通过同意使用条款，您即保证您是任何注册付款方式及您随时存入账户的任何资金的合法拥有人。 </p>
                                                        <p>4.2 通过同意使用条款，您即授权我们不时进行我们可能自行要求或第三方（包括但不限于监管机构）可能要求的任何身份、信用和其他验证检查。 </p>
                                                        <p>4.3 在您注册付款方式时，您应了解，我们保留权利在您向我们作出首笔存款后72小时内进行适当的检查，以验证您的年龄和身份。在此期间，您可以将资金存入您的账户及参加游戏和下注，然而我们保留权利限制您账户中的取款或退款功能。</p>
                                                        <p>4.4 倘若可行，我们会尝试使用您已经提供的注册资料，根据公开的可用信息对您进行验证，但倘若不可行，您必须向我们提供适当文件以便我们对您进行验证。</p>
                                                        <p>4.5 如果我们无法在您向您的账户作出首笔存款后72小时内成功对您进行验证，我们保留权利暂停您的账户和扣留任何资金，直至我们能够成功对您进行验证。</p>
                                                        <p>4.6 此外，您同意不时应我们的要求并作为正常安全检查和程序的一部分，您可能被要求提供与您已提供给我们的任何信息或您账户中的任何活动相关的额外详情。我们有权暂停或限制您的账户，直至您以令我们满意的方式完成相关检查。</p>
                                                        <p>4.7 我们可以把您的信息提供给获授权的第三方资料库，以确认您的身份和付款详情。您同意，我们可以处理与您账户有关的信息。 </p>
                                                        <p>4.8.1 您的账户会被终止或暂停（经我们酌情决定）；</p>
                                                        <p>4.8.2 您在未满法定年龄时作出的所有交易将被作废，并且您存入的所有相关资金将通过存款所用的付款方式予以退还（如可行）；</p>
                                                        <p>4.8.3 您将放弃您所积累的所有彩金、红利和免费注金（及可能根据第4.8.2条从任何退还的存款中扣除），以及您会应要求将已从您的账户提取的任何有关资金退还给我们。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>5. 您账户的存款、取款和限制</h3>
                                                        <p>5.1 您仅可使用您账户中持有的已结算资金，经由有关服务参加付费游戏或下注。因此，如果您想要参加付费游戏或下注，您必须从您作为账户持有人的账户或资金来源，向您的账户存款。如果皇朝娱乐发现您并非您账户所用的任何付款方式的合法拥有人，我们保留权利将存入账户的任何款项视为无效（以及将由此产生的任何彩金视为无效）。 </p>
                                                        <p>5.2 通过向您的账户存款，即表示您指示我们就唯一和特定目的而持有，且我们同意持有有关存款和任何彩金，将它们用于：(1)经由有关服务参加付费游戏或下注；(2)结算您可能因使用有关服务而招致的任何费用或收费。如果我们合理地认为或有理由相信您存入资金但不打算经由有关服务参加付费游戏或下注，我们有权暂停或关闭您的账户。在上述情况下，我们还会向有关当局报告相关情况。</p>
                                                        <p>5.3 除我们根据使用条款享有的任何其他权利外，如果我们因您的账户而招致任何拒付、撤销或其他收费，我们保留权利向您收取所招致的相关金额。您在账户中向我们存入的资金不会产生利息。</p>
                                                        <p>5.4 我们的牌照规定我们须持有您存入您账户的资金，该资金将在银行账户或托管账户中持有，并且会与我们的公司资金区分开。倘若出现无力偿债的情况，您账户中的资金会受到保护。 </p>
                                                        <p>5.5 您可随时要求从您的账户取款，前提是：</p>
                                                        <p>5.5.1 向您的账户作出的所有付款均被确认为已结算，以及并无理由怀疑皇朝娱乐将会受到被拒付、撤销或以其他方式取消的任何款项影响；</p>
                                                        <p>5.5.2 第4条（验证和洗钱）所提述的所有验证检查均以令我们满意的方式完成；</p>
                                                        <p>5.5.3 您要求的取款在30天期间内不超过皇朝娱乐的最高累积取款限额50,000美元（或等值货币）；及</p>
                                                        <p>5.5.4 概无任何其他条件附加于或限制您的取款能力（例如任何红利条款）。 </p>
                                                        <p>5.6 在一般条款或任何适用法律的规限下，您可随时从您的账户中取款。您须就皇朝娱乐在处理您从您账户中取款或向账户存款的过程中所招致的所有费用、税项、征费和收费（包括但不限于银行和付款服务供应商收费）承担法律责任。皇朝娱乐可凭其全权酌情决定权免除有关费用，但任何有关免除不得被当作免除未来费用的保证。</p>
                                                        <p>5.7 倘若可行，所有取款将在作出存款的付款账户进行。若要求采用其他付款方式进行取款，任何相关要求可能需要接受额外验证和安全检查。在某些情况下，我们可能以不同于您所要求的付款方式，比如通过不同的付款服务供应商、银行汇票或电汇，进行和支付取款（因相关付款方式产生的任何收费，载列于有关网站“帮助”一节“取款”部分）。同样地，皇朝娱乐概不对因您进行货币兑换而招致的任何费用负责。皇朝娱乐提供的融通在任何情况下概不得被用作就汇率波动进行投机活动或利用汇率波动的方式，如果我们有充分理由相信您违反本条款，我们保留权利暂停或关闭账户。</p>
                                                        <p>5.8 皇朝娱乐可随时动用您账户中的任何正数余额抵销您（包括您可能拥有的任何同等账户，更多详情参见第3.5条）欠付皇朝娱乐的任何金额。</p>
                                                        <p>5.9 您负责向位于您司法管辖区（如适用）的税务或其他当局申报博彩所得所失。</p>
                                                        <p>5.10 访问或使用有关网站或通过有关网站获得的任何有关服务，对于某些国家的部分或全体居民或人士而言可能不合法。我们不拟让法律禁止投注、博彩之国家的人士使用有关网站或有关服务进行投注、博彩或任何其他用途。为免生疑问，任何未列入我们的注册页面“国家”菜单的国家或地区，均被视为受限制地区。虽然我们尽力采取合理措施确保受限制地区无法使用有关服务，但倘若在任何上述国家境内可使用有关服务或服务语言显示为任何上述国家官方语言，概不得被解释为与访问或使用有关网站、作出存款或从您的账户领取任何彩金、奖金、免费注金或红利有关的陈述或保证。有关服务的可用性，不得构成皇朝娱乐在法律禁止投注、博彩的任何司法管辖区对使用或预约投注、博彩或其他服务的要约、招揽或邀请。</p>
                                                        <p>5.11 您负责确定您所在地区所适用的法律。您须确保在您的司法管辖区开立您的账户或使用有关服务时合法行事，且您陈述、保证和承诺您将如此行事。</p>
                                                        <p>5.12 如果皇朝娱乐发现您是法律禁止使用有关服务之国家的居民，我们有权冻结或关闭您的账户，在这种情况下，于该关闭之日账户内的任何余额，将在切实可行的范围内尽快退还予您，前提是并无法律或监管机构限制我们如此行事。</p>
                                                        <h3>体育投注的最高彩金</h3>
                                                        <p>5.13 您在任意24小时内赢得的最高彩金应为10,000美元（或等值货币）且不包括投注额。最高彩金以美元(USD)报价。</p>
                                                        <p>5.14 所有最高彩金限额，适用于以一系列价格投注包含同样选择的赌注（包括投注一系列赌注）以规避任何账户或投注限制条件，或使用不同的投注账户或通过不同的投注渠道下注的任意一名顾客。如果我们有理由相信若干赌注以上述方式下注，我们保留权利冻结有关账户以待进一步调查。我们亦保留全权酌情决定将所有相关赌注的付款总额合并为单一的最高彩金支出额的权利。</p>
                                                        <h3>最高和最低存款和提款额度</h3>
                                                        <p>5.15 根据相关法律，以及约束皇朝娱乐的《2013年反洗钱及恐怖主义融资（线上博彩）法案》，当您首次申请提取超过3,000欧元或等值货币款项（单笔或过去30天期间的提款总金额）时，皇朝娱乐须获取您的身份及住址证明（其必须与您在皇朝娱乐的注册信息相符）。可接受的身份及住址证明文件，分别为一份当前有效的附有照片的身份文件（例如国家身份证明文件、护照、驾照等）及一份出具时间不超过90天的记载您家庭住址的正式文件（例如银行或信用卡对账单、水电费账单（手机账单除外）等）。</p>
                                                        <p>5.16 为投注或参与任何付费游戏，您的账户内必须有余额。您一次性存入的最低金额为10.00美元。</p>
                                                        <p>5.17 除非您根据我们的“负责任的博彩”政策关闭您的账户，否则您仅可在成功投注先前的全部存款后，方可提取资金。如果您未能满足上述要求，我们保留取消任何提款申请的权利，且我们可能由于有关行为而对您的账户收取管理费。在不损害第5.17条的前提下，我们可全权酌情决定（前提是您并未违反任何其他条款）选择在您并未投注先前的全部存款的情况下接受及处理您的提款申请。</p>
                                                        <p> 提款条例</p>

                                                        <p>所有提款申请必须符合 皇朝娱乐 的提款政策，如存款后有效投注额未达存款100%，即无法通过提款审核，提款申请将被驳回。
                                                            单日提款上限遵守皇朝娱乐制度（单日是指00:00-24:00）。
                                                            若有必要，用户须提供个人资料如身份证副本、驾驶证副本、银行交易记录截图、居民户口簿副本等资料</p>

                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>6. 资格</h3>
                                                        <p>6.1 经由有关服务进行存款、参与游戏或投注（或任何其他类似的交易），即表示您陈述及保证您并非直接或间接向皇朝娱乐供应产品或服务的公司之雇员、股东、董事、代理、代表或经营者，但需进行产品或平台测试的情况除外。在该等情况下，任何账户余额均将被视为测试款项且不符合提取的资格。</p>
                                                        <p>6.2 如果您不满足第6条的资格要求，则您无权使用有关服务。在您领取奖金、免费注金、红利或任何彩金前，皇朝娱乐可根据第6条要求您提供关于您有资格参与游戏或投注的证明，包括要求您向我们提供合理的所需核证信息，在某些情况下可能包括填写合资格宣誓书。如果皇朝娱乐要求您提供任何信息或填写宣誓书，则您必须如此行事。如未能在皇朝娱乐提出此类要求后5天内如此行事，则皇朝娱乐可能决定您并不满足第6条的资格要求，且除皇朝娱乐可能在法律或衡平法上享有的任何权利外，皇朝娱乐保留权利暂停或终止您的账户，以及扣留或撤销与您账户有关的任何奖金、红利、免费注金或彩金。
                                                        </p>
                                                        <p>6.3 皇朝娱乐雇员可为测试用户体验而使用有关服务，但不得提取资金或奖金。皇朝娱乐顾问或有关服务推广人员可无限制地使用有关服务，但须满足以下条件：(i) 其与皇朝娱乐订立的协议不允许其访问任何非公共服务数据或有关服务上未提供予所有玩家的任何其他数据；及(ii)其不得接受在有关服务中玩游戏或投注所获的任何其他利益。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>7. 被禁止行为</h3>
                                                        <p>7.1 下列与服务有关的行为示例均构成“被禁止行为”，将不获允许且将构成对使用条款的重大违反：</p>
                                                        <p>7.1.1 滥用红利或其他促销品； </p>
                                                        <p>7.1.2 任何构成欺诈行为或犯罪活动（定义分别参见第7.7.1条和第7.7.2条）的活动；</p>
                                                        <p>7.1.3 构成操纵、失实陈述或类似情况，且旨在为皇朝娱乐或其任何玩家获取或提供不公平优势或劣势的任何活动（定义参见第7.7.3条）；</p>
                                                        <p>7.1.4 任何违反第6.1条所载资格要求的行为；</p>
                                                        <p>7.1.5 任何不当行为定义参见第7.7.4条); </p>
                                                        <p>7.1.6 皇朝娱乐认为构成违反使用条款的任何活动。</p>
                                                        <p>7.2 您同意，您不得参与或涉及与您访问或使用有关服务相关的任何形式的被禁止行为。</p>
                                                        <p>7.3 我们将采取一切合理措施阻止和检测被禁止行为，并识别从事被禁止行为的相关玩家。但是，我们将不会对您可能因任何被禁止行为所招致的任何损失或损害而承担责任，且我们将全权酌情决定对此采取任何行动。 </p>
                                                        <p>7.4 如果您怀疑某人从事任何被禁止行为，您应在切实可行的范围内尽快发送电邮至Lhkf888@gmail.com，向皇朝娱乐进行举报。倘若您未能如此行事，将构成违反使用条款。 </p>
                                                        <p>7.5 如果我们合理认为您从事（或曾经从事）或已发现而未能举报任何被禁止行为，或以其他方式对有关服务的运营造成不利影响或者以任何方式损害其他玩家，则皇朝娱乐可撤销或没收您的赌注或取消您参与游戏或整个有关服务的资格，拒绝授予或支付奖金、免费注金、红利或彩金并要求归还任何奖金或彩金、取消任何免费注金或红利，或暂停、限制或终止您的账户。</p>
                                                        <p>7.6 如果：</p>
                                                        <p>7.6.1 我们有合理的理由相信您已参与或以任何方式涉及任何形式的被禁止行为；</p>
                                                        <p>7.6.2 您已参与直接或间接提供相同于或类似于皇朝娱乐所提供服务的产品或服务的任何其他经营者的任何游戏或向其投注，且疑似（因有关投注而）从事任何被禁止行为或其他不当活动；</p>
                                                        <p>7.6.3 我们发现您已“索回”或否认您向您的账户作出的任何存款；</p>
                                                        <p>7.6.4 我们合理认为您继续使用有关服务可能损害我们的受监管状态，包括我们继续获博彩监督委员会或任何其他相关监管机构发牌照的能力；</p>
                                                        <p>7.6.5 倘若您破产；则（包括就任何暂停或终止您的账户而言）我们有权（就您的账户而言）扣留全部或部分账户余额或从账户收回受本第7.6条所预期的任何事件影响的或其以任何方式应占的任何存款、支出、红利、免费注金及彩金金额。第7.6条所载的权利，不得损害我们可能对您享有任何其他权利（包括任何普通法权利），不论是使用条款下的权利或其他权利。 </p>
                                                        <p>7.7 就本第7条而言：</p>
                                                        <p>7.7.1 “欺诈行为”指任何由您本人或任何代表您或与您共谋的人士所从事的欺诈活动，包括但不限于： </p>
                                                        <p>7.7.1.1 欺诈性索回； </p>
                                                        <p>7.7.1.2 违反合资格付款方式条款； </p>
                                                        <p>7.7.1.3 您本人或任何时候与您参与同一游戏的任何其他人使用被盗的、克隆的或未经授权的信用卡或借记卡作为资金的来源； </p>
                                                        <p>7.7.1.4 您与其他人串通以获得不公平优势（包括通过红利计划或我们提供的类似奖励计划获得）； </p>
                                                        <p>7.7.1.5 任何试图注册虚假或误导性账户信息（包括付款信息）的企图；</p>
                                                        <p>7.7.1.6 我们合理认为您在任何适用司法管辖区作出的属非法、恶意或试图欺骗我们或规避任何契约或法律限制的任何实际或未遂行为，不论该行为或未遂行为是否对我们实际造成任何损害或伤害。</p>
                                                        <p>7.7.2 “犯罪活动”包括但不限于洗钱、恐怖主义融资及适用相关法律下的任何其他犯罪；及</p>
                                                        <p>7.7.3 “不公平优势”包括但不限于：</p>
                                                        <p>7.7.3.1 使用第三方软件或分析系统；</p>
                                                        <p>7.7.3.2 与任何其他玩家商议、串通或共享超出投注规则规定范围之外的特权信息；</p>
                                                        <p>7.7.3.3 在经由有关服务而参与的任何游戏或投注中，使用自动化脚本或其他自动化手段（例如“机器人程序”）积攒奖金、红利、免费注金或彩金；</p>
                                                        <p>7.7.3.4 及您在任何情况下利用对您有利或对皇朝娱乐或其他玩家不利的某种错误（定义参见第8条）。</p>
                                                        <p>7.7.4 “不当行为”包括但不限于：</p>
                                                        <p>7.7.4.1 虐待、骚扰、模仿、恐吓或威胁其他皇朝娱乐玩家或皇朝娱乐的代理、顾问或雇员；</p>
                                                        <p>7.7.4.2 发布或传播，或促使他人发布或传播侵犯任何人的权利、诽谤、辱骂、侮辱、淫秽、色情或其他违反任何法律或任何第三方权利的内容；</p>
                                                        <p>7.7.4.3 将有关服务用于任何未经授权或违反任何适用法律（包括知识产权法）的用途；</p>
                                                        <p>7.7.4.4 发送或传输，或促使他人发送或传输旨在或意在获取任何皇朝娱乐玩家的密码、账户或私人信息的任何通信或招揽信息；</p>
                                                        <p>7.7.4.5 创建或向任何其他皇朝娱乐玩家或皇朝娱乐的代理、顾问或雇员发送垃圾电子邮件（“垃圾邮件”）；</p>
                                                        <p>7.7.4.6 侵犯皇朝娱乐、其玩家或任何第三方的知识产权；</p>
                                                        <p>7.7.4.7 提交链接至联盟计划、多层营销计划以及旨在改换现有产品、故事或偏离主题内容的网站的评论帖；</p>
                                                        <p>7.7.4.8 发布、以电邮发送、传输、上传或以其他方式提供包含设计或功能旨在中断、破坏或限制任何计算机软件、硬件或电信设备的软件病毒或任何其他计算机代码、文件或程序的任何材料；</p>
                                                        <p>7.7.4.9 未经我们明确书面允许，使用任何机器人、网络蜘蛛、撷取程式、狙击软件或其他自动化的工具，以任何目的（除RSS访问认证外）访问有关服务； </p>
                                                        <p>7.7.4.10 对任何玩家进行广告宣传或招揽任何玩家购买或出售任何产品或服务，或使用从有关服务获得的任何信息，在未得到玩家事先明确同意的情况下联系玩家、向其进行广告宣传、招揽或向其销售；</p>
                                                        <p>7.7.4.11 出售或以其他方式转让您的账户信息；</p>
                                                        <p>7.7.4.12 及试图影响您所参与或您有直接或间接利益（包括与此类体育赛事相关的投注）的任何体育赛事的比赛或结果。</p>
                                                        <p>7.8 在行使我们关于被禁止行为的任何权利时，我们将尽一切合理努力，确保在遵守我们的监管义务和其他法律义务的同时，我们会以对您及其他玩家公平的方式行使有关权利。</p>
                                                        <p>7.9 我们保留权利向有关部门、其他经营者、其他在线服务提供者和银行、信用卡公司、电子支付服务提供商或其他金融机构、监管机构和执法机构告知您的身份以及您的任何可疑的被禁止行为，您须完全配合我们调查任何此类活动。 </p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>8. 错误</h3>
                                                        <p>8.1 可能出现导致有关服务未能按原有计划运行的情况（“错误”）。该等错误可包括但不限于（如果有关网站崩溃或不允许正常使用有关服务，或者如果电脑病毒感染）漏洞、篡改、未经授权干预、登入者的行为、欺诈、技术故障、我们的疏忽错误（进一步说明参见第8.2条）或任何其他类型的原因，而皇朝娱乐认为其会破坏或影响有关服务的管理、安全、公平、诚信或适当的行为（不论是由于被禁止行为还是其他）。 </p>
                                                        <p>8.2 在不损害第8.1条的前提下，为免生疑问，任何故障均会使所有投注无效，且无需为任何受影响的游戏付款。</p>
                                                        <p>8.3 就第8.1条而言，我们的疏忽错误包括但不限于：</p>
                                                        <p>8.3.1 我们继续允许投注或参与一场本该被暂停或已经完成的游戏（或就投注而言，与投注有关的体育赛事已经结束）； </p>
                                                        <p>8.3.2 根据相关规则，我们不应该接受您参与游戏或有权取消您参与的游戏或您的投注； </p>
                                                        <p>8.3.3 我们支付予您的奖金数额错误，包括由于手动或计算机输入错误；</p>
                                                        <p>8.3.4 我们对存入您账户的奖金金额出现错误。</p>
                                                        <p>8.4 在不损害第8.2条的前提下，我们可酌情（前提是您或我们并没有获得任何不公平优势）选择接受投注，即使相关活动已经开始。当皇朝娱乐行使此酌情权时，将不会构成第8.2条所述的疏忽错误。就您参与的游戏而言，相关游戏规则将会列明我们停止接受投注额的时间点。</p>
                                                        <p>8.5 皇朝娱乐将尽合理努力，在合理地切实可行的范围内尽快补救错误。在我们如此行事后（但您亦承认，我们仅在知悉错误后方可采取有关措施），我们（包括我们的员工或代理）或者我们的合作伙伴概不对因为我们或您的任何错误而造成的任何损失（包括损失彩金）承担法律责任。 </p>
                                                        <p>8.6 因错误而记入您账户贷方的任何款项，在我们向您作出付款要求后，须立即偿还给我们。若存在此类情况且您的账户里有余额，我们可根据第5.8条从您的账户中收回有关款项。我们同意，我们须尽一切合理努力在合理地切实可行的范围内尽快发现任何错误并告知您。</p>
                                                        <p>8.7 如果您知晓任何错误，您须在合理切实可行的范围内尽快告知我们。 </p>
                                                        <p>8.8 皇朝娱乐保留权利取消任何错误的起因所牵涉或与之有关的任何玩家之资格，或可能取消、终止、扩大、修改或暂停有关服务。如果发生上述取消、终止、修改或暂停，我们会在有关网站上发布通知。 </p>
                                                        <p>8.9 您同意，您不会：</p>
                                                        <p class="aboutCoChild">(i)采取任何对我们的基础设施造成或可能造成（按我们的酌情决定）不合理或不成比例的重大负荷的行动；</p>
                                                        <p class="aboutCoChild">(ii)干扰或试图干扰有关服务的正常运作或经由有关服务进行的任何活动;</p>
                                                        <p class="aboutCoChild">(iii)忽视我们可能用于防止或限制访问有关服务的任何措施。</p>
                                                        <p>8.10 倘若由于超出皇朝娱乐控制范围的天灾、飓风、战争、火灾、骚乱、地震、恐怖活动、公敌行为、政府机关行动（对适用法典和法规的遵守除外）或其他不可抗力事件而致使皇朝娱乐未能遵守使用条款的任何条文，概不会被视为违反使用条款的任何条文。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>9. 以负责任方式参与游戏以及自设门禁</h3>
                                                        <p>9.1 皇朝娱乐致力于向您提供您以负责任方式参与游戏和博彩所需的支持。我们向您提供一系列选择方案，帮助管理您的游戏以及博彩方式。 </p>
                                                        <p>9.2 您可在“负责任的博彩”政策中或通过联系我们的客户服务团队，了解您可用的选择方案的进一步详情。</p>
                                                        <p>9.3 皇朝娱乐将会尽力强制执行其“负责任的博彩”政策，但是并不对由于您依旧持续博彩或寻求使用有关服务，意欲蓄意避免所制定的有关政策，或皇朝娱乐因其合理控制以外的原因而不能强制执行其措施／政策，而承担责任或负责。</p>
                                                        <h3>押金和投注限额</h3>
                                                        <p>9.4 您可设定在指定的期间内，您账户的押金款项或投注款项的限额。增加限额的任何请求，将在当前限额期间届满后生效。在您选定的期间结束时，押金或投注限额可予以有效重设，并且除非您另行请求，否则选定的限额将持续有效。有关如何设定押金限额的详情，请联系我们的客户服务团队，或通过在已登陆状态点击您的用户名按钮，在有关网站上设定限额。任何已确认的调低押金限额将立即生效。</p>
                                                        <p>自设门禁</p>
                                                        <p>9.5 如果您于任何时间认为不能控制自身的博彩行为，或认为您存在养成赌瘾的危险，则我们强烈鼓励您启用“自设门禁”。自设门禁可让您选择不再参与我们网站上的博彩，且不再接收我们的营销通讯。自设门禁的最短期间为六(6)个月，最长期间为五(5)年。若您希望永不参与有关服务，则您可通过存取有关网站上的自设门禁章节或联系我们的客户服务团队如此行事。在自设门禁期间，您不能以任何理由存取您的账户，且应在进行自设门禁之前提取所有剩余资金。皇朝娱乐不可能以任何理由重新开立您的账户，并且将采取一切合理措施以检测和关闭您可能开立的任何新账户。皇朝娱乐概不对您蓄意尝试规避我们的自设门禁管制和政策而招致的任何损失承担责任。如果您对我们启动自设门禁，则我们强烈建议您考虑对您可能注册的其他博彩提供商进行自设门禁，及与“问题博彩”关怀及支持提供商联系，如motiv8
                                                            / Gamcare Isle-of-Man、GambleAware或Addiction friend等。虽然我们会将您从我们的营销数据库移除，但是我们依然强烈建议您删除您智能手机、平板电脑或其他终端用户设备上所有皇朝娱乐应用程序或下载内容（如有），及启用能够阻止您存取博彩相关网站的软件。</p>
                                                        <p>9.6 有关如何进行“负责任的博彩”的更多信息，以及您可采取的措施，请参阅我们的皇朝娱乐“负责任的博彩”政策或通过Lhkf888@gmail.com网站联系我们的客户关怀中心。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3> 10. 赔偿</h3>
                                                        <p>10.1 您同意就由于您使用有关服务、违反使用条款、接收、拥有、使用或误用任何彩金、红利、免费注金或奖金，以及您牵涉公开权、诽谤或侵犯隐私的任何作为或不作为而引致或导致的任何种类的任何及所有损失、责任、开支、损害赔偿、讼费（包括律师费用和法庭成本）及申索或诉讼，免除皇朝娱乐及其母公司、子公司、联营公司和代理以及前述任何实体的高级人员、董事、员工、股东和代表的责任，且对其作出赔偿、辩护及使其不受损害。皇朝娱乐保留权利自担费用就本应由您加以赔偿的任何事宜，进行单独辩护以及管控，并且在该种情况下，您同意就该等事宜的辩护与皇朝娱乐合作。</p>
                                                        <p>10.2 除了可得的任何其他补救外，如果您违反任何使用条款，则我们须有权从您账户中追回任何正数余额，且该余额以依据第10.1向您合理申索的任何合理款项为限。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3> 11. 担保及免责声明</h3>
                                                        <p>您明确了解以及同意，使用有关服务的风险由您独自承担。有关服务（包括有关服务和有关内容）是依“现况”及“现有”基础提供，而不作出任何种类的明示或暗示的担保，包括但不限于对适销性、某一用途的适合性或不侵权的暗示担保。您承认，皇朝娱乐对下述各项并无控制权，并且无责任就此采取任何行动：</p>
                                                        <p class="aboutCoChild">(i)哪些玩家可获取或使用有关服务；</p>
                                                        <p></p>
                                                        <p class="aboutCoChild">(ii)有关服务可能对您产生的影响；</p>
                                                        <p class="aboutCoChild">(iii)您如何解读或使用有关内容；</p>
                                                        <p class="aboutCoChild">(iv)或您由于接触有关内容，而可能采取哪些行动。</p>
                                                        <p>对于由于您在使用有关服务时获取或未获取有关内容而产生的所有情况，您免除皇朝娱乐的法律责任。您承认和接受，有关服务可能载有若干人士可能认为具有冒犯性或不恰当的信息，或将您导向载有该等信息的其他网站上。皇朝娱乐概不对有关服务所含或通过有关服务存取的任何有关内容作出任何陈述，并且皇朝娱乐不对有关服务所含或通过有关服务存取的材料之准确性、版权遵守、合法性或得体性承担责任或负责。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>12. 优惠和奖金</h3>
                                                        <p>12.1 您承认及同意，您对使用有关网站和有关服务承担全责。您承认及同意，您在使用有关网站和有关服务过程中发送或接收的任何信息可能不安全，及可能被未经授权的各方拦截或随后获取。您承认及同意，您使用有关网站和有关服务的风险由您自行承担。有鉴于此，您理解及同意，在适用法律许可的最大范围内，皇朝娱乐及其供应商及许可人概不对由于您使用有关网站及有关服务而产生的（不论如何引致）任何种类的任何直接、间接、附带、特殊、相应而生、惩罚性、惩戒性或其他损害赔偿而承担责任，该等损害赔偿包括但不限于因为亏损、商誉、用途和数据的损失或其他有形或无形损失的损害赔偿，或基于合同、侵权、严格责任或任何其他法理的任何其他损害赔偿（而即使皇朝娱乐已被告知有关损害赔偿的可能性亦然）。</p>
                                                        <p>12.2 部分司法管辖区不允许豁免若干担保或限制责任，或豁免附带或相应而生的损害赔偿的责任。因此，上述若干限制可能不适用于您。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>13. 我们的专有权</h3>
                                                        <p>所有有关服务的所有权、拥有权及知识产权，由皇朝娱乐或其许可人拥有。您承认及同意，有关服务载有受到适用知识产权和其他法律保护的专有和机密信息。除非皇朝娱乐明文授权，否则您同意不得全部或部分复制、修正、出租、租赁、借出、出售、分销、开展、展示或创造基于有关服务的衍生作品。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>14. 链接以及第三方软件</h3>
                                                        <p>14.1 为使用通过有关服务提供的产品，您可能须在您借以存取有关服务的存取设备上下载和安装第三方提供的软件（“有关软件”）</p>
                                                        <p>14.2 在该等情况下，您可能须与该等软件的拥有人或许可人，就使用该等软件订立单独协议（“第三方软件协议”）。如果使用条款和任何第三方软件协议出现任何不一致，且若该不一致之处涉及您与皇朝娱乐之间的关系，则以使用条款为准。</p>
                                                        <p>14.3 您负责确保在您的存取设备上，以与您自身存取设备的特定设置兼容的方式下载任何有关软件。为免生疑，我们概不对因任何有关软件不当下载而对您的存取设备操作产生的不利影响承担责任。</p>
                                                        <p>14.4 尽管通过任何存取设备应用程序提供的有关服务须满足使用条款，但在您的存取设备上下载或安装任何应用程序的条款，须受您和相关应用程序供应商之间订立的协议所管辖，而如果使用条款和任何该该等协议之间存在不一致，且若该不一致之处涉及您与皇朝娱乐之间的关系，则以使用条款为准。</p>
                                                        <p>14.5 并且，有关服务可不时提供或第三方可提供转到其他网站、应用程序或资源上的链接。由于皇朝娱乐对该等第三方网站、应用程序和资源并无控制权，您承认及同意，皇朝娱乐概不对该等外部网站、应用程序或资源的可用性承担责任，且并非赞同该等网站或资源上或可用的任何内容、广告、产品或其他材料，亦并非对此负责或承担责任。您进一步承认及同意，对于由于您使用或依赖任何该等第三方网站或资源上或通过该等第三方网站或资源提供的任何该等内容、商品或服务而造成或据称造成或与此相关的任何损害或亏损，皇朝娱乐概不直接或间接承担责任或负责。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>15. 终止和暂停</h3>
                                                        <p>15.1 如果您希望终止您的皇朝娱乐账户，您应联系我们的客户支持团队。</p>
                                                        <p>15.2 若皇朝娱乐怀疑或认为您的账户违反使用条款，则有权随时关闭您的账户（即使使用条款载有任何其他条文亦然）。</p>
                                                        <p>15.3 如果我们依据一般条款第7条（被禁止行为）关闭您的账户及终止使用条款，则您的账户余额以及于该等账户关闭日期已累积的任何免费注金或红利，将不可退还且被视为已没收，但以我们于该等关闭日期针对您的申索为限。依据一般条款第7条（被禁止行为）以外的其他条款关闭您的账户以及终止使用条款，将不会影响任何您目前拥有的可用注金（即皇朝娱乐因除您违反第7条以外的原因尚未予以清偿的注金）或您可能参与的未予清偿的比赛，但是前提条件是该等可用注金或未予清偿的比赛有效，且您并未以任何方式违反使用条款。为免生疑，在账户关闭日期之后的任何时间，我们不会将任何红利或免费注金记入您账户的贷方，并且您也无权在账户关闭日期之后获取任何或有彩金（不论是我们按照使用条款或按您关闭账户的请求关闭）。</p>
                                                        <p>15.4 一般条款的下列条款将在使用条款终止后依然有效：6（资格）；7（被禁止行为）；11（赔偿）；12（担保及免责声明）；13（责任限制）；14（我们的专有权）；15（链接以及第三方软件）；16（终止和暂停）；17（无第三方受益人）；18（投诉和通知）；20（一般信息）以及投注规则和游戏规则、隐私政策及附加条款的任何相关章节。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>16. 无第三方受益人</h3>
                                                        <p>您同意，除非一般条款另行明文规定，否则一般条款并无任何第三方受益人。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>17. 投诉</h3>
                                                        <p>17.1 您承认，我们的随机数生成器将决定通过有关服务玩游戏的结果，并且您接受所有有关游戏的结果。您进一步同意，如果出现诸如您屏幕上的结果与皇朝娱乐所用游戏服务器的结果不一致的极小概率事件，则以游戏服务器上出现的结果为准，并且您承认及同意，我们的记录在决定您参与有关网络博彩活动的条款和情况以及参与的结果方面，具有最终的权威。</p>
                                                        <p>17.2 如果您希望就有关服务投诉，则您应首先在切实可行的范围内，就您的投诉内容联系我们的客户服务团队。</p>
                                                        <p>17.3 如果我们无法解决您的投诉，无法令您满意，或您质疑我们的决定，则您可要求经理或主管解决该事宜。我们将尽力立即解决该事宜以令您满意，或随后联系您尽力解决该事宜，以令您满意。</p>
                                                        <p>17.4 如果您依然对我们的最终决定不满意，则您可通过使用博彩监督委员会的其他争端解决程序提起您的投诉。博彩监督委员会是负责监管博彩的官方政府机构，其联系详情如下：https://www.gov.im/categories/business-and-industries/gambling-and-e-gaming/iom-gambling-supervision-commission-complaints-form/
                                                        </p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>18. 一般信息</h3>
                                                        <p>18.1 完整协议</p>
                                                        <p>18.1.1 使用条款以及使用条款中明文提述的任何文件，代表您与皇朝娱乐之间订立的完整协议，并且取代您与皇朝娱乐之间的任何先前的口头或书面协议、谅解或安排。</p>
                                                        <p>18.1.2 您及皇朝娱乐承认，除了使用条款明文指明外，我们均未依赖对方作出的，或藉我们之间的口头或书面协商内容而暗示的任何陈述、保证或承诺。</p>
                                                        <p>18.1.3 任一方均不对另一方在订立合同日期前作出的任何口头或书面的不实声明享有任何补救（除非该等不实陈述以欺诈方式作出），而另一方仅就违反合同事宜享有补救，且须符合使用条款的规定。</p>
                                                        <p>18.2 法律和司法管辖权</p>
                                                        <p>18.2.1 使用条款须受相关法律管辖并据此诠释。</p>
                                                        <p>18.2.2 相关法庭对使用条款引致的任何争端具有非专属司法管辖权。</p>
                                                        <p>18.3 条款的弃权和可分割性</p>
                                                        <p>18.3.1 倘若皇朝娱乐未能行使或强制执行使用条款的任何权利或条文，概不构成对该等权利或条文的弃权。</p>
                                                        <p>18.3.2 如果使用条款的任何条文被主管当局裁决为在任何程度无效、非法或不可强制执行，则该等条款、条件或条文与余下条款、条件和条文的分割仅以该种程度为限，且余下条款、条件和条文持续具有法律所允许的最大效力。在该等情况下，双方同意，主管当局应致力使双方通过本条文所反映的意图生效。</p>
                                                        <p>18.4 条款标题</p>
                                                        <p>18.4.1 一般条款的条款标题，以及构成您与皇朝娱乐之间所订立合同的使用条款的任何单个部分（如第1.4条所载列）条款标题，仅为便于参考而设，并无任何法律或合同效力。</p>
                                                        <p>18.5 通讯</p>
                                                        <p>18.5.1 倘若玩家对有关服务有疑问、投诉或申索，可使用上文载列的相关联系方式信息联络我们。</p>
                                                        <p>感谢您使用皇朝娱乐!</p>
                                                    </div>
                                                </div>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>

                                </v-tabs>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-content>
</template>

<script>
export default {
    components: {
        
    },
    name: 'home',
    data() {
        return {
            cur: 0,
            tabs: [
                [],
                ["一、如何注册", "二、如何存款", "三、如何取款", "四、忘记密码"],
                ["平台问题", "存、取款类", "主、子钱包", "技术操作"],
                []
            ],
            left: [
                {
                    title: "关于我们",
                    href: "",
                    action: "description",
                },
                {
                    title: "常见问题",
                    href: "",
                    action: "help",
                },
                {
                    title: "功能介绍",
                    href: "",
                    action: "question_answer",
                },
                {
                    title: "使用条款",
                    href: "",
                    action: "priority_high",
                }
            ]
        }
    },
    computed: {},
    created() {
        var i = Math.abs(parseInt(this.$route.params.id))
        if (i < this.left.length) {
            this.cur = i
        }
    },
}
</script>

<style>
.content {
    min-height: 80%;
}
</style>
