<template>
<v-content class="page-container">
    <v-container fluid grid-list-md class="content">
        <v-layout row wrap>
            <v-flex md2 sm12>
                <v-card>
                    <v-card-title class="elevation-1 title mb-1">
                        <v-icon>menu</v-icon>帮助中心
                    </v-card-title>
                    <v-card-text class="pa-0 elevation-1">
                        <v-expansion-panel>
                            <v-expansion-panel-content v-for="(item,i) in left" :key="i" class="mb-0" hide-actions style="max-width:100%">
                                <div slot="header" @click="cur=i">
                                    <v-icon>{{item.action}}</v-icon>{{item.title}}
                                </div>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex md10 sm12>
                <v-card>
                    <v-card-title class="elevation-1 title mb-1">
                        <v-icon>help</v-icon>{{left[cur]["title"]}}
                    </v-card-title>
                    <v-card-text class="elevation-1">
                        <v-layout>
                            <v-flex md12>
                             <v-tabs slider-color="primary" v-show="cur==0">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <div class="commonCoRight">
                                                    <h2>关于我们</h2>
                                                    
                                                    <div class="aboutCo">
                                                        <p>皇朝娱乐乃正式注册的网上博彩公司。成立至今，我们不但为客户提供各种体育博彩以及多元化网上娱乐，更承诺配备最优质的投注方法，并辅以最先进的网络技术支援，献上最佳的客户服务和最优惠的支付方案。我们致力于为广大客户提供丰富精彩的博彩活动，并极力以最优质的收费方式及丰富奖赏作回馈。</p>
                                                        
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>诚信</h3>
                                                        <p>作为国际专业的网上博彩游戏客户端运营企业，我们凭藉集合世界级的博彩资讯专家、丰富经验的服务团队、市场营销专家、先进的软硬件开发人员建立出 皇朝娱乐全面而完善的组织体系。我们承诺，为每一位客户提供最新、最安全、最准确的专业博彩数据，以及全方位的国际化服务。同时，皇朝娱乐全部游戏设计均采用世界最领先的软件。我们更聘请了多位资深计算机专家给公司设计和提供软硬件设施维护服务，以提供最佳的技术支援，确保客户能每时每刻享受到最优质的娱乐服务。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>优质服务承诺</h3>
                                                        <p>自成立至今，皇朝娱乐致力提供多元化的体育博彩及网上娱乐，让客户能每天24小时体验到最精采刺激的消闲享受，更藉以丰富奖赏，以回馈普通大众对我们的支持及热烈参与。 我们恪守「顾客至上」的宗旨，以力求创新，不断进步的精神，开拓多元化的娱乐业务。为此，我们聘用庞大的服务团队，凭藉市场推广、软件开发、客户服务、技术支援等优秀人员的不懈努力，为客户提供专业的娱乐服务。我们承诺，置身于皇朝娱乐游戏平台的客户，不论参与的是体育娱乐，还是其他网上游戏，也都能享有极具价值的博彩回报。同时，每名客户的资讯保密性对我们来说是最重要的。我们承诺，将不遗余力地坚持严格实行保密和隐私制度。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>严格维护保密及安全性</h3>
                                                        <p>根据规定，每位皇朝娱乐用户只能拥有一个相对应的帐户。为维护系统的完整性及公平原则，我们将会进行不定期的安全检查。客户的安全和游戏的公正性乃皇朝娱乐最重要的服务信念与宗旨。我们采用的是全球最先进的游戏软件设备，保证了软件本身的公正性。同时，本公司更用上最先进的加密措施来保证游戏的安全，并作24小时的后台检测和监控，确保我们的客户可以在一个最保密、最安全的网络游戏空间尽情玩乐。</p>
                                                    </div>

                                                    
                                                    <div class="aboutCo">
                                                        <h3>公平游戏</h3>
                                                        <p>皇朝娱乐致力为玩家提供最公正的环境，在一个结合体育博彩及网络直播的娱乐平台上尽情耍乐。皇朝娱乐线上娱乐平台乃现时亚洲市场最具权威及最先进的科技系统所提供。此外，所有参与现场游戏的荷官均经过严格训练及挑选，每局牌局均有主管负责监察，以确保游戏的真实度。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>付款</h3>
                                                        <p>我们提供各种安全简便的存款及提款选择给客户。 我们一直主张客户「了解我们的用户(KYC)」和反洗钱(AML)的原则，并与第三方的财务管理当局合作，用以确保在最大程度上遵从相关的法律及法规。皇朝娱乐希望所有的客户能够在一个安全愉快的环境中，享受本公司精心设计的产品和服务，并能够从中获利。</p>
                                                    </div>
                                                    <div class="aboutCo">
                                                        <h3>负责任博彩</h3>
                                                        <p>皇朝娱乐承诺提供「负责任博彩」，并确保每位客户能与我们一起享受到博彩的乐趣。但是我们也瞭解到有小部分的人有时候未必能控制自己的投注行为，如遇相关问题，皇朝娱乐会积极鼓励这些用户及时与我们联络，以便尽早提供相关帮助。</p>
                                                    </div>


                                                </div>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>

                                </v-tabs>

                                <v-tabs slider-color="primary" v-show="cur==1">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p>1. 点击网站右上方的“免费开户”按钮进入页面</p>
                                                <p>2. 正确填写表格中的各项内容，并勾选确认已满18岁，并且接受各项政策条款</p>
                                                <p>3. 如果提交的资料已确认完毕，系统将会出现弹窗信息提示您已注册成功</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 1. 请登录会员账号，点击右上方“存款”按钮</p>
                                                <p> 2. 请填入存款金额，选择支付方式，确认后，点击提交</p>
                                                <p> 3. 进入您的支付渠道支付：如微信扫码、银行网银等</p>
                                                <p> 4. 支付成功</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p>1. 请登录会员账号，点击右上方“取款”按钮</p>
                                                <p>2. 完善银行资料信息，绑定银行账户（如您已完善信息，请跳过）</p>
                                                <p>3. 在取款页面中，请输入取款金额和取款密码，点击“提交”，完成取款</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p>1. 检查您的用户名及密码大小写，不要有空格</p>
                                                <p>2. 请联系在线客服</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>

                                <v-tabs slider-color="primary" v-show="cur==2">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 1. 网站域名：</p>
                                                <p> a) 答：官方永久域名：gxtc360.com</p>
                                                <p> 2. 我需要安装软件吗？</p>
                                                <p> a) 答：本网站游戏均无需安装游戏，即可在网页参与；如果后期想更方便找到我们，可以下载“手机App”。</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 3. 最低和最高存款要求？</p>
                                                <p> a) 答：最低存款金额是100元人民币，最高存款金额无上限。</p>
                                                <p> 4. 有哪些存款方式？</p>
                                                <p> a) 答：您可以通过网银转账、ATM柜员机、银行柜台、支付宝或微信支付等方式进行存款。</p>
                                                <p> 5. 存款时间？</p>
                                                <p> a) 答：极速存款、微信支付：完成支付后一般都是即时到账，如果出现延迟到账，请联系在线客服。银行转账：相关部门会在确认收到款项后10分钟内办理入账。</p>
                                                <p> 6. 手续费？</p>
                                                <p> a) 答：本网站存款、取款不收取任何手续费，如果您是属于银行转账存款的话，根据不同银行政策银行有可能收取一定手续费。</p>
                                                <p> 7. 单日最低和最高取款限额？</p>
                                                <p> a) 答：每笔最低取款100元人民币，每次最高取款限额5万，每天取款最多5次，当天最高取款25万元人民币。</p>
                                                <p> 8. 取款时间？</p>
                                                <p> a) 答：根据审核程序，从您申请取款开始，正常银行工作日时间一般在15分钟左右到账，具体取决于您的取款银行。（银行柜台工作时间：周末 / 节假日 除外的周一至周五早上9:00-17:00）如遇周末、节假日、银行系统维护、跨行转账及平台方抽查审核，时间将会相应顺延。两个小时资金未到账，请联系在线客服。
                                                </p>
                                                <p> 9. 身份验证？</p>
                                                <p>答：当发现用户帐户出现以下任一情况的时候，可能会被要求进行身份证验证，同时我们保证您所提供的一切个人信息只会用做验证您身份的真实性，且都会被严格保密，提交资料后审核时间为7个工作日。 帐户信息修改类 修改真实姓名 客户无法自行通过身份验证 客户忘记登录密码、保密答案 客户需修改手机号码、邮箱地址信息 账户审核类 客户首次大额提款 怀疑客户有违规投注、异常操作等行为（内含高盈利客户） 怀疑客户账户存在同设备多账户、异常登录、被盗嫌疑等安全风险情况
                                                    怀疑客户在网站进行恶意操作等行为（含恶意骗取银行卡信息客户、恶意篡改网站代码等客户）
                                                </p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 10. 什么是主、子钱包？</p>
                                                <p> a) 答：主钱包是皇朝娱乐网站平台的主资金账户钱包，所有入款都会进入主钱包，所有取款都由主钱包取款；子钱包指的是各个游戏子账户的钱包，在玩家想参与其中一款游戏前需把资金从主钱包转入到对应的游戏账户子钱包，游戏结束如需取款，需把游戏账户子钱包的资金转入到平台资金账户主钱包，然后从主钱包进行取款提交。
                                                </p>
                                                <p> 11. 平台账户主钱包转入到游戏账户子钱包？</p>
                                                <p> a) 答：在“个人中心”选择“转出钱包”、“转账至钱包”和“金额”，点击“转账”按钮即可。</p>
                                                <p> 12. 游戏账户子钱包转入到平台账户主钱包？</p>
                                                <p> a) 答：在“个人中心”选择“转出钱包”、“转账至钱包”和“金额”，点击“转账”按钮即可。</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">
                                                <p> 13. 比较兼容的浏览器</p>
                                                <p> 答：由于一些浏览器的设置与网站冲突，可能无法正常显示网站。推荐的浏览器有：</p>
                                                <p> ① 谷歌浏览器</p>
                                                <p> ② IE浏览器</p>
                                                <p> ③ 火狐浏览器</p>
                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-card flat>
                                            <v-card-text class="text-md-left">

                                            </v-card-text>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs>
                                <v-tabs slider-color="primary" v-show="cur==3">
                                    <v-tab v-for="n in tabs[cur]" :key="n" ripple>
                                        {{ n }}
                                    </v-tab>
                                    <v-tab-item>
                                        <provison></provison>
                                    </v-tab-item>
                                </v-tabs>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
    <Footer></Footer>
</v-content>
</template>

<script>
import Footer from '../../components/Footer.vue'
import Provison from './Provison.vue'
export default {
    components: {
        Footer,
        Provison
    },
    name: 'home',
    data() {
        return {
            cur: 0,
            tabs: [
                [],
                ["一、如何注册", "二、如何存款", "三、如何取款", "四、忘记密码"],
                ["平台问题", "存、取款类", "主、子钱包", "技术操作"],
                []
            ],
            left: [
                {
                    title: "关于我们",
                    href: "",
                    action: "description",
                },
                {
                    title: "常见问题",
                    href: "",
                    action: "help",
                },
                {
                    title: "功能介绍",
                    href: "",
                    action: "question_answer",
                },
                {
                    title: "使用条款",
                    href: "",
                    action: "priority_high",
                }
            ]
        }
    },
    computed: {},
    created() {
        var i = Math.abs(parseInt(this.$route.params.id))
        if (i < this.left.length) {
            this.cur = i
        }
    },
}
</script>

<style>
.content {
    min-height: 80%;
}
</style>
