<template>
    <v-content class="page-container mt-2">
        <v-layout column>
            <v-flex xs12 md6>
                <v-toolbar class="elevation-24" color="white" >
                    <v-btn icon>
                        <v-icon color="primary">card_giftcard</v-icon>
                    </v-btn>
                    <v-toolbar-title class="primary--text ml-0">
                        优惠活动
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-card>
                    <v-container fluid grid-list-md>
                        <v-layout row wrap>
                            <v-flex v-for="card in cards" v-bind="{ [`xs${card.flex}`]: true }" :key="card.title">
                                <v-card>
                                    <v-card-media :src="card.src" height="200px">
                                        <v-container fill-height fluid pa-2>
                                            <v-layout fill-height>
                                                <v-flex xs12 align-end flexbox>
                                                    <span class="headline white--text" v-text="card.title"></span>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-card-media>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-content>
</template>

<script>
    import Footer from '../components/Footer.vue'
    export default {
        components: {
            Footer,
        },
        name: 'index',
        computed: {},
        data() {
            return {
                cards: [{
                        title: 'Pre-fab homes',
                        src: 'https://cdn.vuetifyjs.com/images/cards/house.jpg',
                        flex: 12
                    },
                    {
                        title: 'Favorite road trips',
                        src: 'https://cdn.vuetifyjs.com/images/cards/road.jpg',
                        flex: 12
                    },
                    {
                        title: 'Best airlines',
                        src: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg',
                        flex: 12
                    }
                ]
            }
        },
        watch: {},
        mounted() {},
        methods: {},
    }
</script>