<template>
    <v-content class="page-container">
        <section>
            <v-container fluid grid-list-md px-0 py-1>
                <v-layout row wrap>
                    <v-flex sm9 md9>
                        <swiper :options="option" class="gallery-top" ref="swiperTop" height="100%">
                            <swiper-slide v-for="(item,i) in spotlights" :key="i">
                                <a :href='item.link'>
                                <img :src="showPic(item.picture)" style="width: 100%" height="415" class="swiper-lazy"/>
                            </a>
                                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                            </swiper-slide>
                            <div class="swiper-pagination" slot="pagination"></div>
                        </swiper>
                    </v-flex>
                    <v-flex sm3 md3>
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-card>
                                    <v-card-title class="headline  lighten-2">
                                        扫码下载APP
                                    </v-card-title>
                                    <v-card-text>
                                        <v-card-media :src="areas.qr" height="320px"></v-card-media>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
        <section>
            <v-container fluid grid-list-md px-0 pt-0>
                <v-layout row wrap>
                    <template>
                        <v-flex @click="viewMenu(areas['CASINO']['link'])" d-flex sm4 md4 class="item">
                            <v-card style="cursor:pointer">
                                <v-card-title class="headline">
                                    真人百家乐
                                </v-card-title>
                                <v-card-media contain :src="areas['CASINO']['img']" height="280"></v-card-media>
                                <v-card-title primary-title>
                                    <div class="text-xs-center">
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>经典玩法</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>包桌玩法</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>竞咪玩法</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>连环玩法</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>炸金花</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>龙虎</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>轮盘</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>骰宝</v-chip>
                                        <v-chip small dark class="body-2" text-color="#6f6f6f" label>牛牛</v-chip>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                    </template>
                    <template>
                        <v-flex d-flex md4 class="item">
                            <v-card style="cursor:pointer">
                                <v-card-title class="headline">
                                    360彩票
                                </v-card-title>
                                <v-layout row wrap>
                                    <v-flex @click="viewMenu(game.link)" d-flex md4 v-for="game in games">
                                        <v-card dark flat tile>
                                            <v-card-media :src="game.pic" height="10em"></v-card-media>
                                            <v-card-title class="pt-0 text-md-center">
                                                <v-btn color="blue-grey" depressed small>
                                                    {{game.name}}
                                                </v-btn>
                                            </v-card-title>
                                        </v-card>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>
                    </template>
                    <template>
                        <v-flex d-flex md4 class="item">
                            <v-card>
                                <v-card-title class="headline">
                                    电子游戏
                                    <v-spacer></v-spacer>
                                    <a @click="$router.push('/slot')" class="title">更多></a>
                                </v-card-title>
                                <v-layout row wrap>
                                    <v-flex d-flex md12 v-for="game in newGames" @click="viewMenu(game.link)">
                                        <v-card flat tile>
                                            <v-card-media :src="game.picture" height="10em"></v-card-media>
                                            <v-card-actions class="pa-3 subheading">
                                                {{game.name}}
                                                <v-spacer></v-spacer>
                                                更新时间：2018.11.2
                                            </v-card-actions>
                                        </v-card>
                                    </v-flex>
                                </v-layout>
                            </v-card>
                        </v-flex>
                    </template>
                </v-layout>
            </v-container>
        </section>
        <Footer></Footer>
    </v-content>
</template>
<style lang="stylus">
.swiper-slide {
    background-position: center;
    background-size: cover;
}

.jumbotron__image {
    height: 316px;
    width: 958px;
}

.item .headline {
    transition: height .2s;
    -moz-transition: height .2s ease-in;
    -webkit-transition: height .2s ease-in;
    -o-transition: height .2s ease-in;
}

.item:hover .v-carousel__controls {
    height: 100%;
}
</style>
<script>
import Board from '../components/Board.vue'
import Footer from '../components/Footer.vue'
import 'swiper/dist/css/swiper.css'
import {
    swiper,
    swiperSlide
} from 'vue-awesome-swiper'

export default {
    components: {
        Footer,
        Board,
        swiper,
        swiperSlide
    },
    name: 'index',
    computed: {
        spotlights() {
            return this.$store.getters.spotlights
        },
        config() {
            return this.$store.getters.config
        },
        menus() {
            return this.$store.getters.menus
        },
        ps() {
            return this.$store.getters.ps
        }
    },
    data() {
        return {
            showQr: false,
            option: {
                lazy: true,
                spaceBetween: 10,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                }
            },
            newGames: [{
                    "hot": "1",
                    "link": "230764404448056810",
                    "name": "不朽的浪漫",
                    "picture": require('../assets/mg/ImmortalRomance.png'),
                },
                {
                    "hot": "1",
                    "link": "211520928597104398",
                    "name": "冰上曲棍球",
                    "picture": require('../assets/mg/breakaway.png'),
                }
            ],
            games: [{
                    name: "北京PK拾",
                    link: "2067934965838",
                    pic: require('../assets/lottory/bjpk10.png'),
                    pid: "1",
                },
                { name: "重庆时时彩", link: "2067934965844", pic: require('../assets/lottory/cqssc.png'), pid: "1", },
                { name: "广东11选5", link: "2067934965823", pic: require('../assets/lottory/11-5.png'), pid: "1", },
                { name: "幸运28", link: "2067934965877", pic: require('../assets/lottory/28.png'), pid: "1", },
                { name: "六合彩", link: "2067934965836", pic: require('../assets/lottory/marksix_iwap.png'), pid: "1", },
                { name: "梯子游戏", link: "2067934965853", pic: require('../assets/lottory/1.png'), pid: "1", }
            ],
            areas: {
                "CASINO": {
                    img: require('../assets/index/d4.jpg'),
                    label: "真人娱乐",
                    id: 3,
                    subLabel: "LIVE CASINO",
                    action: "live",
                    link: "462972661606191219",
                },
                "qr": require('../assets/app.png')
            }
        }
    },
    watch: {},
    beforeMount() {
        this.$store.dispatch("SPOTLIGHTS")
    },
    mounted() {
        if (this.$route.name == "istart") {
            this.$store.commit("code", this.$route.params.code ? this.$route.params.code : '')
        }
    },
    methods: {
        showQR: function(e) {
            e.preventDefault()
            this.note.show = false
            this.note.x = e.clientX
            this.note.y = e.clientY
            this.$nextTick(() => {
                this.note.show = true
            })
        },
        viewMenu(link) {
            this.$router.push({
                path: "/play/" + link
            });
        },
        doing: function(act) {
            if (act == 'zendesk') {
                window.$zopim.livechat.window.show();
            } else if (act == 'help') {
                this.$router.push("/help")
            } else if (act == 'download') {
                if (this.config['ios_download']) {
                    window.open(this.config['ios_download'], "_blank")
                } else {
                    this.play("")
                }
            } else {
                this.play("")
            }
            return false
        },
        showPic: function(src) {
            var reg = /^(http|ftp|https)/g
            if (!reg.test(src)) {
                src = this.config['image_url'] ? (this.config['image_url'] + src) : src
            }
            return src
        },
        play: function(r) {
            if (r == "") {
                this.$store.commit("MsgError", (this.config['maintaining'] ? this.config['maintaining'] : "系统维护中，请耐心等待"))
            } else {
                this.$router.push(r)
            }
        }
    },
}
</script>