<template>
<v-content class="list-content">
    <div class="py-2">
        <v-card-media :src="areas.banner" height="240px"></v-card-media>
    </div>
    <section class="page-container">
        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-flex d-flex md6 v-for="i in 2" :key="i" px-5 class="item" @click="$router.push(areas['d'+i]['action'])">
                    <v-card ripple style="cursor:pointer">
                        <v-card-media :src="areas['d'+i]['img']" height="300px"></v-card-media>
                        <div class="v-carousel__controls white--text title">
                            {{areas['d'+i]['label']}}
                        </div>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </section>
    <!-- <Footer></Footer> -->
</v-content>
</template>

<script>
import Footer from '../components/Footer.vue'
export default {
    components: {
        Footer
    },
    name: 'index',
    data() {
        return {
            areas: {
                "banner": require('../assets/live.jpg'),
                "d1": {
                    img: require('../assets/gd.jpg'),
                    label: "SAG 国际厅",
                    action: "play/462972661606191129"
                },
                "d2": {
                    img: require('../assets/ag.jpg'),
                    label: "AG 国际厅",
                    action: "play/462972661606191343"
                }
            }
        }
    },
    watch: {},
    mounted() {},
    methods: {},
}
</script>

<style>
.page-container {
    min-height: 60%;
}
</style>
