<template>
<v-dialog v-model="applyBox" persistent max-width="500px">
    <v-card>
        <v-toolbar dark color="primary">
            <v-toolbar-title class="headline">申请代理</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu bottom left>
                <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-menu>
        </v-toolbar>
        <v-card-text>
            <v-container grid-list-md>
                <form>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field v-model="applyData.Name" prepend-icon="person" label="姓名" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="applyData.Phone" prepend-icon="phone" label="电话"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="applyData.Wchat" prepend-icon="face" label="微信"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-textarea v-model="applyData.Note" prepend-icon="note" solo  label="留言"></v-textarea>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn color="primary" block :loading="loging" :disabled="loging" @click="apply">
                                提交申请
                                <span slot="loader">提交中...</span>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </form>
            </v-container>
        </v-card-text>
    </v-card>
</v-dialog>
</template>

<script>
import api from '@/api'
export default {
    name: 'apply',
    data() {
        return {
            visibility: false,
            loging: false,
            applyData: {
                Name: "",
                Phone: "",
                Wchat: "",
                Note: "",
            }

        }
    },
    watch: {},
    computed: {
        applyBox() {
            return this.$store.getters.modalBox == this.$options.name
        }
    },
    methods: {
        apply: function () {
            var _ = this
            if (_.applyData.Name == "") {
                _.$store.commit("MsgError", "请输入名字")
                return false
            }
            if (_.applyData.Phone == "" && _.applyData.Wchat == "") {
                _.$store.commit("MsgError", "请留下至少一种联系方式")
                return false
            }
            _.loging = true
            api.post('affapply', this.applyData).then(function (res) {
                _.loging = false
                _.$store.commit('ShowGlobal', "")
                _.$router.push("/")
                _.$store.commit("MsgOk", '申请成功')
            }).catch(function (error) {
                _.loging = false
                _.$store.commit("MsgError", error.error)
            })
            return false
        }
    }

}
</script>
