<template>
    <div>
        <v-card class="my-2">
            <v-card-text @click="$store.commit('ShowGlobal','board')">
                <v-layout row wrap>
                    <v-flex md2 hidden-sm-and-down>
                        <p class="text-md-left mb-0">
                            <v-icon small>notifications</v-icon> 最新公告：</p>
                    </v-flex>
                    <v-flex md9 sm12>
                        <vueSeamless :data="boards" :class-option="classOption" class="seamless-warp" :singleHeight="1">
                            <ul class="item">
                                <li v-for="item in boards">
                                    <p class="text-sm-left mb-0">{{item.title}}</p>
                                </li>
                            </ul>
                        </vueSeamless>
                    </v-flex>
                    <v-flex md1 hidden-sm-and-down>
                        <p class="text-sm-right mb-0"> 更多公告>></p>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
        <v-dialog v-model="boardBox" scrollable persistent width="50%">
            <v-card>
                <v-toolbar dark color="primary">
                    <v-toolbar-title class="headline">公告</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-menu bottom left>
                        <v-btn slot="activator" icon @click.native="$store.commit('ShowGlobal','')">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-menu>
                </v-toolbar>
                <v-card-text class="py-0 px-0">
                    <v-stepper v-model="e6" vertical>
                        <template v-for="(b,i) in boards">
                            <v-stepper-step :complete="e6 > i" :step="i+1" complete-icon="alarm" edit-icon="alarm">
                                <div>{{b.title}}   <v-btn flat small color="primary" ma-0 @click="e6=i+1">
                                                详情
                                                <v-icon>keyboard_arrow_down</v-icon>
                                                </v-btn>
                                </div>
                                <small>{{b.created | formatDate}}</small>
                            </v-stepper-step>
                            <v-stepper-content :step="i+1">
                                <v-card color="primary" class="white--text">
                                    <v-card-title primary-title >
                                        <div class="text-sm-left">{{b.content}}</div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-btn flat class="white--text" @click="e6=11" elevation-24>收起<v-icon>keyboard_arrow_up</v-icon></v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-stepper-content>
</template>
                    </v-stepper>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<style>
    .seamless-warp {
        height: 21px;
        overflow: hidden;
    }
</style>

<script>
    import vueSeamless from 'vue-seamless-scroll'
    export default {
        components: {
            vueSeamless
        },
        name: 'board',
        computed: {
            boardBox() {
                return this.$store.getters.modalBox == this.$options.name
            },
            boards() {
                return this.$store.getters.boards
            },
            classOption() {
                return {
                    step: 1,
                    singleHeight: 21,
                    waitTime: 3000,
                    limitMoveNum: 2
                }
            }
        },
        data() {
            return {
                e6: 10,
            }
        }
    }
</script>