<template>
  <!-- Footer -->
  <div class="footer-boxed">
    <v-footer height="auto">
      <v-layout row wrap>
        <v-flex d-flex md4>
          <v-card-text>
            <v-list class="transparent">
              <v-list-tile>
                <v-list-tile-action  class="my-center">
                  <div>推荐浏览器</div>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action  class="my-center">
                  <v-layout wrap>
                    <v-avatar size="32">
                      <img :src="areas['chrome']" alt="谷歌浏览器">
                    </v-avatar>
                    <v-avatar size="32" class="ml-2">
                      <img :src="areas['firefox']" alt="火狐浏览器">
                    </v-avatar>
                  </v-layout>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-flex>
        <v-flex d-flex md4>
          <v-card-text>
            <v-list class="transparent">
              <v-list-tile class="text-md-center">
                <v-list-tile-action style="margin:0 auto !important; ">
                  <v-layout>
                    <v-avatar size="32">
                      <img :src="areas['android']" alt="安卓">
                    </v-avatar>
                    <v-avatar size="32" class="ml-2">
                      <img :src="areas['apple']" alt="苹果">
                    </v-avatar>
                    <v-avatar size="32" class="ml-2">
                      <img :src="areas['wechat']" alt="微信">
                    </v-avatar>
                  </v-layout>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
            <v-flex xs12 sm12 md12>
              <div>移动互联网时代，机会一手把握！</div>
              <div>全面支持苹果、安卓，独家微信版本！</div>
            </v-flex>
          </v-card-text>
        </v-flex>
        <v-flex d-flex md4>
          <v-card-text>
            <v-list class="transparent ">
              <v-list-tile>
                <v-list-tile-action class="my-center">
                  <h3 class="mb-2  text-xs-center">
                  <a href="https://a.prlrwp.cn" target="_blank" style="text-decoration:none;">加盟合作官网</a></h3>
                </v-list-tile-action>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-action class="my-center">
                  <div class="subheading mb-3 text-xs-center">{{config.copyright}}</div>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-flex>
      </v-layout>
    </v-footer>
  </div>
  <!-- /footer -->
</template>

<script>
  /* eslint-disable */
  module.exports = {
    name: 'wfooter',
    computed: {
      config() {
        return this.$store.getters.config
      }
    },
    data() {
      return {
        areas: {
          "chrome": require('../assets/index/footer/chrome.png'),
          "firefox": require('../assets/index/footer/firefox.png'),
          "android": require('../assets/index/footer/android.png'),
          "apple": require('../assets/index/footer/apple.png'),
          "wechat": require('../assets/index/footer/wechat.png'),
        }
      }
    }
  }
</script>
<style>
.my-center {
margin:0 auto !important; 
}
</style>
