<template>
    <!-- Footer -->
    <div class="footer-box">
        <div class="v-footerbox">
            <v-footer height="auto">
                <div class="hemain">
                    <!-- <div class="hebox">
                        <div class="hetitle">合作伙伴</div>
                        <div class="img-box">
                            <div class="img-risk">
                                <img src="../assets/mg/1-1G226103400117.png" alt="">
                            </div>
                            <div class="img-risk">
                                <img src="../assets/mg/salogo.png" alt="">
                            </div>
                            <div class="img-risk">
                                <img src="../assets/mg/gray.png" alt="">
                            </div>
                            <div class="img-risk">
                                <img src="../assets/mg/MGS_logo_greenblue.png" alt="">
                            </div>
                        </div>
                    </div> -->
                    <div class="hebox">
                        <div class="hetitle">支付方式</div>
                        <div class="img-box paybox">
                            <div class="img-risk">
                                <img src="../assets/mg/logos-icons_09.png" alt="">
                            </div>
                            <div class="img-risk">
                                <img src="../assets/mg/logos-icons_03.png" alt="">
                            </div>
                            <div class="img-risk">
                                <img src="../assets/mg/logos-icons_05.png" alt="">
                            </div>
                            <div class="img-risk">
                                <img src="../assets/mg/logos-icons_07.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </v-footer>
        </div>
        <div class="footer-boxed">
            <div class="footer">
                <div class="foot_links">
                    <a href="/#/help">常见问题</a>
                    <a href="/#/help">关于我们</a>
                    <a href="/#/help">使用条款</a>
                    <a href="/#/help">功能介绍</a>
                    <a href="javascript:window.$zopim.livechat.window.show()">联系我们</a>
                </div>
                <div class="copyright">
                    <p>Copyright © 2016-2018皇朝娱乐官方网站 Online Game. All rights reserved</p>
                </div>
            </div>
        </div>
        <!--<div class="rank" :style="{ right: right + 'px' }">
            <div class="label" @click="goRight">
                <img src="../assets/mg/ranklabel.png" alt="">
            </div>
            <div class="rank-list">
                <div class="rank-top">
                    <img src="../assets/mg/ranktop.png" alt="">
                </div>
                <ul>
                    <li class="head">
                        <div>排名</div>
                        <div>玩家名</div>
                        <div>盈利金额</div>
                    </li>
                    <li>
                        <div>
                            <img src="../assets/mg/pm1.png" alt="">
                        </div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>
                            <img src="../assets/mg/pm2.png" alt="">
                        </div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>
                            <img src="../assets/mg/pm3.png" alt="">
                        </div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>4</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>5</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>6</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>7</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>8</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>9</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                    <li>
                        <div>10</div>
                        <div>USER ID</div>
                        <div>999999</div>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
    <!-- /footer -->
</template>
<script>
    /* eslint-disable */
    export default {
        name: 'wfooter1',
        computed: {
            config() {
                return this.$store.getters.config
            }
        },
        data() {
            return {
                dialog: false,
                right: -300,
                areas: {
                    "chrome": require('../assets/index/footer/chrome.png'),
                    "firefox": require('../assets/index/footer/firefox.png'),
                    "android": require('../assets/index/footer/android.png'),
                    "apple": require('../assets/index/footer/apple.png'),
                    "wechat": require('../assets/index/footer/wechat.png')
                }
            }
        },
        methods: {
            goRight () {
                if (this.right === 0) {
                    this.right = -300;
                } else {
                    this.right = 0;
                }
            }
        }
    }
</script>
<style lang="less">
    .v-footerbox {
        border-top: 1px solid #8d33e2;
        width: 100%;
        background: url('../assets/mg/headerbg.png') no-repeat;
        background-size: cover;
    }
    .theme--light.v-list,.theme--light.v-footer {
        color: #958ea0 !important;
    }
    .my-center a {
        color: #c69c47;
    }
    .v-footer {
        width: 1280px;
        margin: 0 auto;
        background: none !important;
    }
    .footer-boxed {
        width: 100% !important;
        background: #15181e;
        .footer {
            border-top: none;
        }
    }
    .my-center {
        margin: 0 auto !important;
    }
    .hemain {
        padding: 20px 0;
        margin: 0 auto;
        .hebox {
            .hetitle {
                font-size: 16px;
                color: #ccc;
                font-weight: bold;
            }
            .img-box {
                width: 45%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                .img-risk {
                    width: 50%;
                    margin: 5px 20px 0 20px;
                    img {
                        width: 100%;
                    }
                }
            }
            .paybox {
                width: 35%;
                margin-top: 20px;
                .img-risk {
                    flex: 1;
                    margin-right: 5px;
                }
            }
        }
    }
    .copyright {
        margin-top: 10px;
    }
    .paizhao {
        margin-top: 15px;
        img {
            width: 100px;
            cursor: pointer;
        }
    }
    .rank {
        position: fixed;
        top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 200;
        .label {
            cursor: pointer;
        }
        .rank-top {
            width: 100%;
            margin-bottom: -40px;
            background: url('../assets/mg/ranktop.png') no-repeat;
            background-size: cover;
            img {
                width: 100%;
                opacity: 0;
            }
        }
        .rank-list {
            background: url('../assets/mg/33-index2_04.png') no-repeat;
            background-size: 100% 100%;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            ul {
                border-radius: 30px;
                padding: 30px 20px;
                li {
                    display: flex;
                    font-size: 14px;
                    color: #fff;
                    text-align: center;
                    padding: 10px 0;
                    div {
                        flex: 1;
                    }
                }
                li:nth-child(odd) {
                    background: #9d44ff;
                }
                li:nth-child(even) {
                    background: #D800FE;
                }
                li:nth-child(1) {
                    color: #fff;
                    background: #a900ff;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                li:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
</style>