<template>
    <v-toolbar height="40px" color="black" v-show="!fullscreen">
        <v-container fluid py-0>
            <v-layout row wrap class="page-container">
                <v-flex md10>
                    <v-toolbar-items class="py-3 white--text text--darken-2 right">
                        <p class="px-3 mb-0">
                            欢迎您！【<a @click="$router.push('/home')" > <label class="white--text" style="cursor: pointer;">{{user.name}}</label></a>】
                        </p>
                        <template v-if="isLogin">
                        <v-menu :close-on-content-click="false" :open-on-hover="true" :top="false" offset-y max-width="30%" >
                            <p class="px-3 mb-0" slot="activator" @mouseenter="loadBalance">
                                余额 <v-icon small class="white--text">cached</v-icon>
                            </p>
                            <v-card class="nav_menu" >
                                <v-list>
                                <template v-for="item in balance">
                                 <v-list-tile>
                                        <v-list-tile-sub-title class="grey--text lighten-2 body-1 text-xs-left">
                                        {{item.name}}: <span class="cyan--text lighten-2">{{config.unit}} {{item.balance|money}}</span>
                                        </v-list-tile-sub-title>
                                 </v-list-tile>
                                </template>
                                </v-list>
                            </v-card>
                        </v-menu>
                        </template>
                        <p class="px-3 mb-0" v-if="!isLogin">
                            <v-btn class="primary" @click.native="$store.commit('ShowGlobal','login')">
                                登录
                            </v-btn>
                        </p>
                        <p class="px-3 mb-0" v-if="!isLogin">
                            <v-btn class="primary" @click.native="$store.commit('ShowGlobal','register')">
                                注册
                            </v-btn>
                        </p>
                        <!--p class="px-3 mb-0" v-if="!isLogin">
                            <v-btn class="primary" @click.native="tryPlay()">
                                试玩
                            </v-btn>
                        </p-->
                        <p class="mb-0" v-if="isLogin">
                            <v-btn flat class="grey--text text--darken-2" @click="Home('deposit')">
                                <v-icon small>publish</v-icon>
                                存款
                            </v-btn>
                            </p>
                            <p class="mb-0" v-if="isLogin">
                            <v-btn flat class="grey--text text--darken-2" @click="Home('withdrawal')">
                                <v-icon small>payment</v-icon>
                                提款
                            </v-btn>
                            </p>
                            <p class="mb-0" v-if="isLogin">
                            <v-btn flat class="grey--text text--darken-2" @click="logout">
                                <v-icon small>power_settings_new</v-icon>
                                <template v-if="user.t == true">退出试玩</template>
                                <template v-else>安全退出</template>
                            </v-btn>
                            </p>
                    </v-toolbar-items>
                </v-flex>
            </v-layout>
        </v-container>
    </v-toolbar>
</template>

<script>
    import api from '@/api'
    export default {
        name: 'headerToolbar',
        computed:{
            isLogin() {
                return !!(this.$store.getters.token && Object.keys(this.$store.getters.user).length != 0)
            },
            user() {
                let user = this.$store.getters.user
                if (this.isLogin == false) {
                    user["name"] = this.config["visitor"]
                }
                return user
            },
            config() {
                return this.$store.getters.config
            },
            balance () {
                return this.$store.getters.balance
            },
            fullscreen () {
                return this.$store.getters.fullscreen
            }
        },
        data() {
            return {
                "logo": require('../assets/logo.png'),
            }
        },
        
        methods : {
            loadBalance : function(){
                if (this.isLogin){
                    this.$store.dispatch("BALANCE")
                }
            },
            Home : function (box) {
                this.$store.dispatch("userCenter",box)
            },
            logout : function() {
                api.get("/logout")
                this.$store.commit('LOGOUT')
                this.$store.commit('MsgOk',"退出成功")
                this.$router.push("/");
            },
            tryPlay : function() {
                var _ = this
                api.post("/demo/init").then(function(res) {
                    res.user["token"] = res.result
                    _.$store.commit('onUserLogin',res.user)
                }).catch(function(error) {
                    _.$store.commit('MsgError',error.error)
                })
            }
        }
    }
</script>
