<template>
<v-snackbar v-model="snackbar.show" :color="snackbar.color" :timeout="timeout" top center>
      <v-icon v-if="snackbar.color == 'success'" color="white">
        check_circle
      </v-icon>
      <v-icon v-if="snackbar.color == 'error'" color="white">
        error
      </v-icon>
      {{ snackbar.text ? snackbar.text :"响应异常，请稍后再试。。。" }}
    <v-btn dark flat @click="snackbar.show = false">
    关闭
    </v-btn>
</v-snackbar>
</template>

<script>
    export default {
        name: 'snackbar',
        data() {
            return {
                timeout:3000
            }
        },
        computed: {
            snackbar() {
                return this.$store.getters.snackbar
            }
        }
    }
</script>
