<template>
<v-card v-show="centreBox" class="cards">
    <div class="user-title">银行卡信息</div>
    <v-card-text>
        <v-layout wrap>
            <div class="news-title">我的银行卡</div>
            <v-flex xs12 v-for="item in banks">
                <div class="jp-card-container">
                    <div class="jp-card jp-card-maestro jp-card-identified">
                        <div class="jp-card-front">
                            <div class="jp-card-logo jp-card-maestro">{{item.Bank}}</div>
                            <div class="jp-card-lower">
                                <div class="jp-card-shiny"></div>
                                <div class="jp-card-number jp-card-display">{{cardFormat(item.Card)}}</div>
                                <div class="jp-card-name jp-card-display">{{item.Name}}</div>
                                <div class="jp-card-expiry jp-card-display">2018</div>
                            </div>
                        </div>
                    </div>
                </div>
            </v-flex>
            <!-- <v-flex xs12>
                <div class="news-title">添加银行账户信息（必填）</div>
                <div class="jp-card-container">
                    <div class="jp-card jp-card-maestro jp-card-identified">
                        <div class="jp-card-front">
                            <div class="jp-card-lower">
                                <v-btn flat class="white--text title bgn" @click="card.show = true">
                                    <v-icon dark>add</v-icon>
                                    添加银行账户信息
                                </v-btn>
                                <div class="jp-card-number jp-card-display"></div>
                                <div class="jp-card-name jp-card-display"></div>
                                <div class="jp-card-expiry jp-card-display">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </v-flex> -->
            <div class="formnew">
                <div class="form-title">添加银行账户信息（必填）</div>
                <el-form label-position="top" :model="card" class="text-xs-left">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="银行名称">
                                <el-select v-model="card.Bank" placeholder="请选择银行">
                                    <el-option v-for="item in items" :key="item" :label="item" :value="item"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="银行卡号">
                                <el-input v-model="card.Card" placeholder="请输入正确的银行卡号" type="text"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="姓名">
                                <el-input v-model="card.Name" placeholder="请输入持卡人姓名" :disabled="true" type="text"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="支行名称">
                                <el-input v-model="card.Branch" placeholder="请输入完整支行名称" type="text"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <div class="flexcenter">
                        <el-form-item>
                            <el-button type="primary" @click="addBank" :loading="doing" :disabled="doing">确认提交</el-button>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
        </v-layout>
        <div class="banktips">
            <h3>温馨提示</h3>
            <ul>
                <li>密码必须是6-16位字符之间，由字母或数字组成。</li>
                <li>如您忘记原登录密码，请及时联系在线客服协助找回。</li>
                <li>定期修改密码可以让您的账户更安全。</li>
            </ul>
        </div>
    </v-card-text>

    <v-dialog v-model="card.show" persistent max-width="500px">
        <v-card>
            <v-toolbar dark color="primary">
                <v-toolbar-title class="headline">绑定银行卡</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu bottom left>
                    <v-btn slot="activator" icon @click.native="card.show = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-menu>
            </v-toolbar>
            <v-card-text>
                <v-container grid-list-md>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-select v-model="card.Bank" :items="items" label="所属银行" ></v-select>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="card.Card" label="银行卡号" required type="text"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field :value="card.Name" label="名字" required type="text" readonly></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field v-model="card.Branch" label="支行" required type="text"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-btn color="info" small class="white--text" @click="addBank" :loading="doing" :disabled="doing">
                                <v-icon small>done</v-icon>
                                确认绑定
                                <span slot="loader">正在提交...</span>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>

</v-card>
</template>

<style>
@import '../../assets/css/card.css';
/*@import '../assets/css/ku-icon.min.css';*/
</style>

<script>
import api from '@/api'
export default {
    name: 'cards',
    computed: {
        centreBox() {
            return this.$store.getters.centreBox == this.$options.name
        }
    },
    mounted() {
        this.loadProfile()
    },
    data: () => ({
        card: {
            show: false
        },
        doing: false,
        profile: {},
        banks: [],
        items: ["工商银行","招商银行","建设银行","农业银行","交通银行","中国银行","深圳发展银行","广发银行","东莞农商银行","中信银行","民生银行","邮政储蓄银行","兴业银行","华夏银行","平安银行","广西农村信用社","南京银行","广州银行","广州农商银行","中国光大银行"],
    }),
    methods: {
        cardFormat: function (val) {
            return val.replace(/(\d{4})(?=\d)/g, "$1 ")
        },
        loadProfile: function () {
            var _ = this
            api.get('pc/usercentre/profile').then(data => {
                if (data.result.username == '') {
                    _.$store.commit("MsgError", "您还没有添加真实姓名，请先添加")
                    setTimeout(function () {
                        _.$store.commit('ShowCentre', "profile")
                    }, 3000)
                } else {
                    _.card.Name = data.result.username
                    _.loadBanks()
                }
            }).catch(error => {
                _.$store.commit("MsgError", error.error)
            })
        },
        loadBanks: function () {
            let _ = this
            api.get('/pc/usercentre/banks').then(function (response) {
                _.banks = response.result
            })
        },
        addBank: function () {
            let _ = this
            _.doing = true
            if (_.card.Bank == "") {
                _.$store.commit("MsgError", "请输入银行名称")
                return
            }
            if (_.card.Card == "") {
                _.$store.commit("MsgError", "请输入银行卡号")
                return
            }
            api.post('/pc/usercentre/bank', _.card).then(function (response) {
                _.$store.commit("MsgOk", "绑定成功")
                _.doing = false
                _.card = {
                    show: false,
                    Name: _.card.Name
                }
                _.loadBanks()
            }).catch(function (error) {
                _.$store.commit("MsgError", error.error)
                _.doing = false
            })
        },
    }

}
</script>

<style lang="less" scoped>
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 20px;
    }
    .formnew {
        margin: 0 0 0 12px;
        width: 67%;
    }
    .form-title {
        width: 100%;
        text-align: left;
        margin: 40px 0 10px 0;
        font-size: 16px;
        color: #fff;
    }
    .news-title {
        width: 100%;
        text-align: left;
        margin: 20px 0 10px 11px;
        font-size: 16px;
        color: #fff;
    }
    .theme--light.v-sheet {
        box-shadow: none;
    }
    .banktitle {
        margin-bottom: 30px;
        i {
            font-size: 58px;
            color: #cf9336;
        }
        p {
            font-size: 16px;
            color: #100e0e;
        }
    }
    .jp-card.jp-card-identified .jp-card-front:before, .jp-card.jp-card-identified .jp-card-back:before {
        background-image: url('../../assets/mg/bank.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .bgn {
        background: rgba(91,91,91,.3);
    }
    .banktips {
        width: 68%;
        border-radius: 5px;
        text-align: left;
        padding: 20px;
        margin: 0px 0 30px 8px;
        color: #b3b3b3;
        border: 1px solid #2f2f2f;
        background: rgba(0,0,0,.1);
        h3 {
            font-size: 16px;
            line-height: 32px;
        }
        ul {
            margin-left: 1em;
            li {
                list-style-type: decimal;
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
    .v-card {
        box-shadow: none !important;
    }
</style>
