<template>
    <div>  
        <div class="centre-box">
            <div class="user-title">我的钱包</div>
            <div class="qian-box">
                <div class="qian-list" v-for="(key,item,index) in balance" :key="index">
                    <div class="imgbox">
                        <img :src="require(`../../assets/mg/qian${(item)}.png`)" :alt="item.name">
                    </div>
                    <p>{{key.name}}</p>
                    <div class="cash">{{config.unit}} {{key.balance|money}}</div>
                </div>

            </div>
            <div class="wallet-box">
                <el-row>
                    <el-col :span="24">
                        <div class="grid-content-left">
                            <div class="grid-content-list">
                                <div class="userbox">
                                    <p>欢迎您！</p>
                                    <h3>{{profile.name}}</h3>
                                </div>
                                <div class="renzheng" @click="$store.commit('ShowCentre','profile')">去认证</div>
                            </div>
                            <div class="grid-content-list">
                                <div class="useryue">
                                    <p>
                                        资金总余额 
                                        <v-tooltip right>
                                            <v-icon style="cursor: pointer;" slot="activator" small>help_outline</v-icon>
                                            <span>资产总余额显示为 （平台名称 ： 账户金额）</span>
                                        </v-tooltip>
                                    </p>
                                    <h3>{{config.unit}} {{(total["deposit"]-total["withdrawal"])|money}}</h3>
                                </div>
                                <div class="aniuzu">
                                    <v-tooltip top>
                                        <div class="anniu" slot="activator" @click="loadBalance()">
                                            <i class="iconfont icon-unie62a"></i>
                                            刷新
                                        </div>
                                        <span>刷新余额</span>
                                    </v-tooltip>
                                    <v-tooltip top>
                                        <div class="anniu" slot="activator" @click="toMain()">
                                            <i class="iconfont icon-zhuanhuidao"></i>
                                            转回
                                        </div>
                                        <span>转回主钱包</span>
                                    </v-tooltip>
                                </div>
                                <div class="dianjizu">
                                    <div class="anniu" @click="$store.commit('ShowCentre','deposit')">存款</div>
                                    <div class="anniu" @click="$store.commit('ShowCentre','withdrawal')">提现</div>
                                </div>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="24">
                        <div class="grid-content-left">
                            <div class="jp-card-container" v-for="(item,i) in banks" v-if="i==0">
                                <div class="jp-card jp-card-maestro jp-card-identified">
                                    <div class="jp-card-front">
                                        <div class="jp-card-logo jp-card-maestro">{{item.Bank}}</div>
                                        <div class="jp-card-lower">
                                            <div class="jp-card-shiny"></div>
                                            <div class="jp-card-number jp-card-display">{{cardFormat(item.Card)}}</div>
                                            <div class="jp-card-name jp-card-display">{{item.Name}}</div>
                                            <div class="jp-card-expiry jp-card-display">2018</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>
    </div>
</template>

<script>
import api from '@/api'

export default {
    components: {},
    data() {
        return {
            loading: false,
            total: {},
            banks: [],
            profile: {
                cards: []
            },
        }
    },
    name: 'centre',
    computed: {
        centreBox() {
            return this.$store.getters.centreBox == this.$options.name
        },
        config() {
            return this.$store.getters.config
        },
        user() {
            return this.$store.getters.user
        },
        balanceLoading() {
            return this.$store.getters.loadBalance
        },
        balance() {
            return this.$store.getters.balance
        }
    },
    watch: {
        balanceLoading: function (n, o) {
            if (n == true) {
                this.loading = true
            } else {
                this.loading = false
            }
        }
    },
    mounted() {
        this.loadProfile()
        this.loadBanks()
        this.loadTotal()
    },
    methods: {
        cardFormat: function (val) {
            return val.replace(/(\d{4})(?=\d)/g, "$1 ")
        },
        loadProfile: function () {
            api.get('pc/usercentre/profile').then(data => {
                this.profile = data.result
                try {
                    this.profile.cards = JSON.parse(this.profile.cards)
                } catch (e) {}
                if (this.profile.cards == "") {
                    this.profile.cards = []
                }
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        },
        loadBanks: function () {
            let _ = this
            api.get('/pc/usercentre/banks').then(function (response) {
                _.banks = response.result
            })
        },
        loadBalance: function () {
            this.loading = true
            this.$store.dispatch("BALANCE")
        },
        loadTotal: function () {
            api.get("/pc/usercentre/total").then(data => {
                this.total = data.result
            })
        },
        toMain :function () {
            this.loading = true
            api.post("/pc/usercentre/balance").then(data => {
                this.loadBalance()
            }).catch(error => {
                commit("MsgError", error.error)
                this.loading = false
            })
        }
    }
}
</script>

<style lang="less" scoped>
    .centre-box {
        padding-bottom: 141px;
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 25px;
    }
    .wallet-box {
        padding: 0 25px;
    }
    .jp-card.jp-card-identified .jp-card-front:before, .jp-card.jp-card-identified .jp-card-back:before {
        background-image: url('../../assets/mg/bank.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .grid-content-left {
        margin-right: 60px;
    }
    .grid-content-right {
        display: flex;
        justify-content: flex-end;
    }
    .grid-content-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #6a6a6a;
        .userbox {
            p {
                font-size: 18px;
                color: #fff;
            }
            h3 {
                font-size: 24px;
                color: #fff;
                font-weight: normal;
            }
        }
        .useryue {
            p {
                font-size: 16px;
                color: #fff;
            }
            h3 {
                font-size: 36px;
                color: #8d33e2;
                font-weight: normal;
            }
        }
        .renzheng {
            font-size: 16px;
            color: #e23c3c;
            border-radius: 5px;
            border: 1px solid #e23c3c;
            padding: 5px 25px;
            cursor: pointer;
        }
        .aniuzu {
            .anniu {
                font-size: 14px;
                color: #fff;
                cursor: pointer;
                margin-bottom: 10px;
                .iconfont {
                    font-size: 14px;
                }
            }
        }
        .dianjizu {
            .anniu {
                font-size: 18px;
                color: #fff;
                background: #8d33e2;
                padding: 5px 45px;
                border-radius: 30px;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }
    }
    .qian-box {
        background-size: cover;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        border-top: 10px solid #0f0f0f;
        border-bottom: 10px solid #0f0f0f;
        .qian-list:nth-child(1) {
            border: none;
        }
        .qian-list {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-left: 5px solid #0f0f0f;
            .imgbox {
                height: 75px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 32%;
                    max-width: 58px;
                }
            }
            p {
                color: #fff;
                font-size: 16px;
            }
            .cash {
                color: #fff;
                font-size: 18px;
                margin: 15px 0;
            }
        }
    }
</style>
<style>
    .useryue .v-icon {
        color: #fff !important;
    }
</style>


