<template>
    <div class="deposit">
        <div class="deposit-box">
            <div class="user-title">我要存款</div>
            <div class="news-title">选择存款方式</div>
            <v-layout>
                <v-flex xs12>
                    <v-card flat>
                        <div class="flex-box">
                            <v-card-text class="text-sm-left cunbox">
                                <div class="chipbox">
                                    <v-chip label outline :color="payIndex==id ? '#fece3e' : '#2b73b8'" v-for="p,id in payments" @click="payIndex = id" :selected="payIndex==id" :key="id">
                                        {{p.bank}}
                                    </v-chip>
                                </div>
                                <v-select solo :items="banks" v-model="bank" label="选择银行" v-show="banks.length > 0" :hint="`${bank.name}`"  item-text="name" item-value="code" return-object></v-select>
                                <v-text-field solo :error-messages="amountError" label="存款金额" :prefix="config.unit" v-model.number="amount" required type="number" :readonly="readonly" :hint="readonly?'请使用快捷选择':'请输入金额'" :persistent-hint="readonly"></v-text-field>
                                <div class="news-titlee">快捷金额选择</div>
                                <v-chip label outline v-for="i in Predefined" @click="amount = parseInt(i)" :key="i">{{i}}</v-chip>
                            </v-card-text>
                        </div>
                        <v-card-actions>
                            <v-btn color="primary" big @click="deposit" :loading="loading" :disabled="loading">
                                确认提交
                                <span slot="loader">提交中...  <v-progress-circular indeterminate color="#ce912f"  :size="12" :width="1"></v-progress-circular></span>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                    <div class="banktips">
                                <h3>存款说明：</h3>
                                <ul>
                                    <li>单笔单次最低存款金额<i class="subheading red--text" v-if='Object.keys(curOnline).length != 0 && curOnline["min"] != 0'>{{curOnline["min"]|money}}</i><i class="subheading red--text" v-else>{{depositLimit.min|money}}</i>, 单笔单次最高存款金额  <i class="subheading red--text" v-if='Object.keys(curOnline).length != 0 && curOnline["max"] != 0'>{{curOnline["max"]|money}}</i>
                                        <i class="subheading red--text" v-else>{{depositLimit.max|money}}</i>。</li>
                                    <li>支付宝充值二维码仅限使用一次，且3分钟内有效，若超时或要多次存款的，请重新提交存款订单再支付。<b class="subheading red--text">重复扫码，资金无法到账.</b></li>
                                    <li>如有金额错误或无法自行获取到二维码，可联系在线客服协助。</li>
                                    <li class="light-blue--text subheading" v-if="parseFloat(config.fee) > 0">温馨提示：扫码支付和快捷支付充值收取{{config.fee}}%手续费，【每个二维码只能支付一次，请注意】。</li>
                                </ul>
                            </div>
                </v-flex>
            </v-layout>
            <v-dialog v-model="!!content['QR']" persistent max-width="400">
                <v-card>
                    <v-card-title class="headline">扫码支付
                        <v-spacer></v-spacer>
                        <span class="subheading red--text lighten-2"> 剩余时间：{{ `${min}分钟 ${sec}秒` }}</span></v-card-title>
                    <v-container fluid grid-list-lg>
                        <v-card-media contain class="white--text" height="500" :src="content['QR']" v-if="content['QR']"></v-card-media>
                    </v-container>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat @click.native="content['QR'] = false">取消</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <div class="text-xs-center">
                <v-dialog v-model="!!content['FORM']" hide-overlay persistent width="300">
                    <v-card color="primary" dark>
                        <v-card-text>
                            正在进入支付页面，请稍候...
                            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </div>
            <div v-html="content['FORM']" ref="go" style="display:none"></div>
        </div>
    </div>
</template>

<script>
import api from '@/api'

export default {
    components: {},
    name: 'deposit',
    data() {
        return {
            amount: 0,
            Predefined: [],
            amountError: [],
            accountError: [],
            payments: [],
            payIndex: null,
            curOnline: {},
            msec: 30,
            min: 0,
            sec: 0,
            content: {},
            handle: null,
            loading: false,
            readonly: false,
            banks:[],
            bank:{code:""}
        }
    },
    computed: {
        centreBox() {
            return this.$store.getters.centreBox == this.$options.name
        },
        config() {
            return this.$store.getters.config
        },
        depositLimit () {
           if(this.config["deposit_limited"]){
              var limit = this.config["deposit_limited"].split(",")
              return {min:limit[0],max:limit[1]}
           }
           return {min:100.00,max:10000.00}
        }
    },
    watch: {
        amount: function (n, o) {
            this.amountError = []
        },
        payIndex: function (n) {
            if (n != null) {
                this.curOnline = this.payments[n]
                if (this.curOnline['predefined']) {
                    this.Predefined = this.curOnline['predefined'].split(",")
                } else {
                    this.resetPredefined()
                }
                if (this.curOnline['readonly'] && this.curOnline['readonly'] == "1") {
                    this.readonly = true
                    this.amount = 0
                }
                if (this.curOnline["banks"]) {
                    this.banks = JSON.parse(this.curOnline["banks"])
                }else{
                    this.banks = []
                }
            }
            this.accountError = []
        },
        msec: function (n) {
            if (n == 0) {
                this.content['QR'] = false
                if (this.handle != null) {
                    clearTimeout(this.handle)
                }
            }
        },
        "content.FORM": function (n) {
            if (n != "" && n != undefined) {
                setTimeout(function () {
                    document.forms.namedItem("pay").submit()
                }, 500)
            }
        }
    },
    mounted() {
        this.resetPredefined()
        this.loadPayments()
    },
    beforeDestroy() {
        this.msec = 0
        if (this.handle != null) {
            clearTimeout(this.handle)
        }
    },
    methods: {
        countdown: function () {
            let min = parseInt(this.msec / 60 % 60)
            let sec = parseInt(this.msec % 60)
            this.min = min > 9 ? min : '0' + min
            this.sec = sec > 9 ? sec : '0' + sec
            this.msec--
                const that = this
            if (this.msec != 0) {
                setTimeout(function () {
                    that.countdown()
                }, 1000)
            }
        },
        resetPredefined: function () {
            if (this.config["deposit_predefined"]) {
                this.Predefined = this.config["deposit_predefined"].split(",")
            } else {
                this.Predefined = []
            }
            this.readonly = false
        },
        resetPayment: function () {
            this.curOnline = {}
            this.resetPredefined()
        },
        loadPayments: function () {
            api.get("/pc/payment/accounts?t=1").then(data => {
                this.payments = data.info
            }).catch(error => {
                this.$store.commit("MsgError", error.error)
            })
        },
        deposit: function () {
            var _ = this
            if (_.payIndex == null || _.curOnline == "") {
                _.$store.commit("MsgError", "请选择存款方式")
                return false
            }
            if (_.amount <= 0) {
                _.amountError.push("请输入正确的存款金额")
                return　 false
            }
            if (_.banks.length > 0 && _.bank.code == "") {
                _.$store.commit("MsgError", "请选择支付银行")
                return false
            }
            var flag = true
            flag = _.checkLimit(_.curOnline["min"], _.curOnline["max"])
            if (flag == false) {
                return false
            }
            _.loading = true
            api.post("/pc/usercentre/deposit", {
                Amount: _.amount,
                Account: parseInt(_.payments[_.payIndex]["id"], 10),
                Code:_.bank.code
            }).then(data => {
                _.amount = 0
                _.loading = false
                _.$store.commit("MsgOk", "下单成功")
                if (data.result.other != null && Object.keys(data.result.other).length != 0) {
                    _.content = data.result.other
                    if (!!_.content["QR"]) {
                        _.msec = 150
                        _.countdown()
                        setTimeout(function () {
                            _.checkStatus(data.result.id)
                        }, 5000)
                    }
                } else {
                    _.$store.commit("SetOrder", data.result)
                    _.$store.commit("ShowGlobal", "order")
                }
            }).catch(error => {
                _.loading = false
                _.$store.commit("MsgError", error.error)
            })
        },
        checkLimit: function (min, max) {
            var min = parseInt(min, 10),
                max = parseInt(max, 10)
            if (min != 0 && this.amount < min) {
                this.amountError.push("存款金额不能小于" + this.config['unit'] + ": " + min)
                return　 false
            }
            if (max != 0 && this.amount > max) {
                this.amountError.push("存款金额不能大于" + this.config['unit'] + ": " + max)
                return　 false
            }
            return true
        },
        checkStatus: function (id) {
            let _ = this
            api.get("/pc/usercentre/deposit/status/" + id).then(data => {
                if (data.status == true) {
                    _.msec = 0
                    _.$store.commit("MsgOk", "入金成功")
                    clearTimeout(_.handle)
                }
            }).catch(error => {
                _.$store.commit("MsgError", error.error)
            })
            _.handle = setTimeout(function () {
                _.checkStatus(id)
            }, 5000)
        }
    }
}
</script>

<style lang="less" scoped>
    .flex-box {
        display: flex;
        align-items: flex-start;
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 20px;
    }
    .news-title {
        width: 100%;
        text-align: left;
        margin: 20px 0 -10px 25px;
        font-size: 16px;
        color: #fff;
    }
    .news-titlee {
        width: 100%;
        text-align: left;
        margin: 20px 0 10px 0px;
        font-size: 16px;
        color: #fff;
    }
    .cunbox {
        width: 70%;
        margin: 0 0 0 5px;
        .chipbox {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .title {
        justify-content: center;
        margin-top: 20px;
    }
    .v-chip.v-chip.v-chip--outline {
        cursor: pointer;
        border-color: #fff;
        color: #fff;
        caret-color: #fff;
    }
    .v-chip.v-chip.v-chip--outline.v-chip--selected {
        background-color: #8d33e2 !important;
        border-color: #8d33e2;
        color: #333;
        caret-color: #8d33e2;
    }
    .banktips {
        width: 65%;
        text-align: left;
        padding: 0 25px;
        margin: 10px 15px;
        border: 1px solid #2f2f2f;
        background: rgba(0,0,0,.1);
        padding: 25px;
        h3 {
            font-size: 16px;
            line-height: 32px;
            color: #fff;
            margin-bottom: 20px;
        }
        ul {
            margin-left: 1em;
            li {
                list-style-type: decimal;
                font-size: 14px;
                line-height: 28px;
                color: #b3b3b3;
            }
        }
    }
    .v-card__actions {
        padding: 0 0 50px 25px;
    }
    .application .theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat), .theme--light .v-btn:not(.v-btn--icon):not(.v-btn--flat) {
        background: #ce912f;
    }
    .v-input {
        margin-top: 30px;
    }
    .v-messages__wrapper {
        color: #fff !important;
    }
</style>
