<template>
    <div class="drecord">
        <div class="user-title">游戏记录</div>
        <div class="databoxes">
            <!-- <v-subheader class="pa-0 title titles">游戏记录</v-subheader>
            <div class="icond">
                <i class="iconfont icon-youxi"></i>
            </div> -->
            <div class="block">
                <el-date-picker v-model="searchtime" type="datetimerange" :picker-options="pickerOptions" range-separator="至" start-placeholder="开始时间" end-placeholder="结束时间" align="right"></el-date-picker>
                <v-btn color="primary" class="white--text" depressed normal>搜索</v-btn>
                <v-btn outline class="white--text" depressed normal @click="searchtime = ''">清除</v-btn>
            </div>
            <v-data-table no-data-text="暂无结果" :headers="headers" :items="desserts" :loading="loading" :rows-per-page-items="[50,100,150,200]" :rows-per-page-text="'每页行数'" class="elevation-1">
                <v-progress-linear slot="progress" color="#ce912f" indeterminate></v-progress-linear>
                <template slot="items" slot-scope="props">
                    <tr @click="props.expanded = !props.expanded">
                        <td>{{ platforms[props.item.game_pid] }} / {{ props.item.game_name }}</td>
                        <td class="text-xs-center">{{ props.item.round_no }}</td>
                        <!-- <td class="text-xs-center">{{ props.item.rule_type }}</td> -->
                        <td class="text-xs-center">{{ props.item.bet_amount|money }}</td>
                        <td class="text-xs-center">{{ props.item.payout_amount|money }}</td>
                        <td class="text-xs-center">{{ props.item.result_amount|money }}</td>
                        <td class="text-xs-center">{{ props.item.bet_time | formatDate}}</td>
                        <td class="text-xs-center">{{ props.item.settle_time | formatDate }}</td>
                        <td class="text-xs-center"><v-btn small class="chakan">查看</v-btn></td>
                    </tr>
                </template>
                <template slot="expand" slot-scope="props">
                    <v-card class="white--text xiangqing">
                        <v-layout row wrap>
                            <v-flex class="text-xs-left" xs3>玩法: {{ props.item.rule_type }}</v-flex>
                            <v-flex class="text-xs-left" xs3>投注时间: {{ props.item.bet_time | formatDate }}</v-flex>
                            <v-flex class="text-xs-left" xs3>结算时间: {{ props.item.settle_time | formatDate }}</v-flex>
                            <v-flex class="text-xs-left" v-if="(hideItem.indexOf(k)<0) && titleMap[k]" xs3 v-for="(v,k) in parseJson(props.item.contents)">
                                <p>{{titleMap[k]}}: {{v}}</p>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </template>
                <template slot="footer">
                    <td colspan="2">总投注: {{config["unit"]}} {{sums["bet"]}}</td>
                    <td colspan="3">总派彩: {{config["unit"]}} {{sums["payout"]}}</td>
                    <td colspan="3">输赢: {{config["unit"]}} {{sums["result"]}}</td>
                </template>
            </v-data-table>
            <!-- <div class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pagination.length" :total-visible="7"></v-pagination>
            </div> -->
        </div>
    </div>
</template>
<script>
    import api from '@/api'
    export default {
        components: {
        },
        name: 'grecord',
        computed: {
            centreBox() {
                return this.$store.getters.centreBox == this.$options.name
            },
            config () {
                return this.$store.getters.config
            }
        },
        data() {
            return {
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                searchtime: '',
                pagination: {
                    page:1,
                    length:0,
                    rowsPerPage:10,
                    sortBy:"",
                },
                headers: [{
                        text: '平台 / 游戏',
                        sortable: false,
                        value: 'game_pid'
                    },
                    {
                        text: '期',
                        value: 'round_no'
                    },
                    // {
                    //     text: '玩法',
                    //     sortable: false,
                    //     value: 'rule_type'
                    // },
                    {
                        text: '投注',
                        sortable: false,

                        value: 'bet_amount'
                    },
                    {
                        text: '派彩',
                        sortable: false,

                        value: 'payout_amount'
                    },
                    {
                        text: '结果',
                        sortable: false,

                        value: 'result_amount'
                    },
                    {
                        text: '投注时间',

                        value: 'bet_time'
                    },
                    {
                        text: '结算时间',
                        value: 'payout_time'
                    },
                    {
                        text: '详情',
                        sortable: false,
                        value: ''
                    }
                ],
                desserts: [],
                loading:false,
                platforms:{},
                sums:{"bet":"0","payout":"0","result":"0"},
                titleMap: {
                user_name: "用户名",
                round: "轮次",
                BetTime: "投注时间",
                CurrentPrice: "当期价格",
                EndTime: "结束时间",
                ExpirePrice: "到期价格",
                Odds: "赔率",
                OrderNo: "订单号",
                ProCNName: "品种中文",
                ProENName: "品种中文",
                RuleType: "玩法",
                UpDown: "涨跌",
                logDetail: "备注",
                BetTime: "下注时间",
                Cmd: "下单翻译指令",
                EndTime: "派彩时间",
                Numbers: "开奖号码",
                Odds: "赔率",
                OrderNo: "记录号",
                PlayValue: "所选号码",
                RuleType: "下单类型",
                SRate: "平台分成⽐比例例",
                round_no: "期数",
                BetTime: "投注时间",
                PayoutTime: "结算时间",
                Username: "用户名",
                HostID: "桌台ID",
                Detail: "电子游艺用作游戏名称",
                GameID: "游戏编号",
                Round: "局",
                Set: "靴",
                BetID: "下注ID",
                Rolling: "洗碼量",
                Balance: "投注後的馀额",
                ResultAmount: "结算",
                GameType: "游戏类型",
                BetType: "下注类型",
                BetSource: "下注平台",
                State: "下注是否成功",
                LottoName: "游戏名称",
                BillNo: "注单流水号",
                GameCode: "游戏局号",
                NetAmount: "玩家输赢额度",
                BetTime: "投注时间",
                GameType: "游戏类型",
                ValidBetAmount: "有效投注额度",
                PlayType: "游戏玩法",
                TableCode: "桌子编号",
                PlatformType: "平台类型",
                Round: "平台内的大厅类型",
                TradeNo: " 交易编号",
                PlatformType: " 平台类型",
                SceneID: "场景号",
                SceneStartTime: "场景开始时间",
                SceneEndTime: "场景结束时间",
                Roomid: "房间号",
                Roombet: "房间倍率",
                Cost: "投注额度",
                Earn: "派彩",
                Type: "转账类别",
                Jackpotcomm: "场景彩池投注",
                TransferAmount: "转账额度",
                PreviousAmount: "转账前额度",
                CurrentAmount: "当前额度",
                CreationTime: " 纪录时间",
                GameCode: " 游戏局号(通常为空)",
                GameID: "游戏局号",
                ServerID: "房间 ID ",
                KindID: "游戏 ID ",
                TableID: "桌子号",
                ChairID: "椅子号",
                CellScore: "有效下注",
                AllBet: "总下注",
                Profit: "盈利",
                CardValue: "手牌公共牌",
            },
            hideItem: ["CellScore", "LineCode", "ChannelID", "MRate", "Odds", "OrderNo", "SRate", "DataType", "Type", "ID", "Jackpotcomm"],
            }
        },
        watch: {
            'pagination.page':function(n) {
                this.loadGames(n)
            }
        },
        mounted() {
           this.loadGames(1)
        },
        methods: {
            parseJson: function (str) {
                var obj = JSON.parse(str)
                return obj
            },
            loadGames:function(p){
                this.loading = true
                api.get("/pc/usercentre/games",{page:p,num:this.pagination.rowsPerPage}).then(data => {
                    this.desserts = data.result.games
                    this.platforms = data.result.platforms
                    this.pagination.length = data.result.pageNums
                    this.pagination.totalItems = data.result.total
                    this.loading = false
                    if(data.result.total > 0) {
                     this.sums = data.result.sum
                    }
                }).catch(error => {
                    this.$store.commit("MsgError",error.error)
                })
            }
        },
    }
</script>

<style lang="less">
    .drecord {
        padding-bottom: 100px;
        .v-datatable__expand-row {
            background: #aeadc6;
        }
    }
    .user-title {
        text-align: left;
        color: #fff;
        font-size: 28px;
        padding: 10px 25px;
    }
    .databoxes {
        padding: 0 25px;
        thead {
            background: #8d33e2 !important;
            th {
                color: #fff !important;
                text-align: center !important;
                i {
                    color: #fff !important;
                }
            }
        }
        tbody {
            background: #1d1d1d;
            tr {
                border: none !important;
                color: #fff !important;
            }
            tr:hover {
                background: #59586d;
            }
            tr:nth-child(4n+3){
                background: #59586d;
            }
        }
        .elevation-1 {
            box-shadow: none !important;
        }
        .v-card {
            box-shadow: none !important;
        }
        tfoot tr {
            background: #8d33e2;
        }
    }
    .titles {
        justify-content: center;
        margin-top: 20px;
    }
    .icond i {
        font-size: 58px;
        color: #cf9336;
    }
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        .v-btn {
            margin: 6px 0 6px 8px !important;
        }
    }
    .chakan {
        background: #8d33e2 !important;
        color: #fff !important;
    }
    .xiangqing {
        color: #fff !important;
        width: 100% !important;
        overflow: hidden !important;
        padding: 10px 20px;
    }
    .v-datatable__expand-row td {
        line-height: 16px !important;
    }
    table.v-table tbody tr td {
        padding: 0 !important;
        line-height: 55px;
    }
    .application .theme--light.v-datatable .v-datatable__actions, .theme--light .v-datatable .v-datatable__actions {
        background: #202020 !important;
        color: #fff !important;
        .v-icon {
            color: rgba(255, 255, 255, .26) !important;
        }
    }
    .application .theme--light.v-table tbody tr:hover:not(.datatable__expand-row), .theme--light .v-table tbody tr:hover:not(.datatable__expand-row) {
        background: #aeadc6;
    }
    .application .theme--light.v-table, .theme--light .v-table {
        color: #fff !important;
    }
</style>