<template>
    <div class="geren">
        <v-content class="page-container">
            <v-container fluid grid-list-md class="content">
                <v-layout row wrap>
                    <v-flex md2 sm12>
                        <Left></Left>
                    </v-flex>
                    <v-flex md10 sm12 class="flexright">
                        <Deposit v-if="box=='deposit'"></Deposit>
                        <Withdrawal v-if="box=='withdrawal'"></Withdrawal>
                        <Password v-if="box=='password'"></Password>
                        <WPassword v-if="box=='wpassword'"></WPassword>
                        <Centre v-if="box=='centre'"></Centre>
                        <DRecord v-if="box=='drecord'"></DRecord>
                        <WRecord v-if="box=='wrecord'"></WRecord>
                        <GRecord v-if="box=='grecord'"></GRecord>
                        <Profile v-if="box=='profile'"></Profile>
                        <Cards v-if="box=='cards'"></Cards>
                    </v-flex>
                </v-layout>
            </v-container>
            <!-- <Footer></Footer> -->
            <OrderDetail v-if="modal=='order'"></OrderDetail>
        </v-content>
    </div>
</template>
<script>
    import Footer from '../../components/Footer.vue'
    import Left from './NewLeft.vue'
    import Deposit from './Deposit.vue'
    import Withdrawal from './Withdrawal.vue'
    import Password from './Password.vue'
    import WPassword from './Wpassword.vue'

    import Profile from './Profile.vue'
    import Cards from './Cards.vue'


    import Centre from './Centre.vue'
    import DRecord from './DRecord.vue'
    import WRecord from './WRecord.vue'
    import GRecord from './GRecord.vue'
    import OrderDetail from './OrderDetail.vue'
    export default {
        components: {
            Footer,
            Left,
            Deposit,
            Withdrawal,
            Password,
            WPassword,
            Centre,
            DRecord,
            WRecord,
            GRecord,
            OrderDetail,
            Profile,
            Cards
        },
        name: 'home',
        data() {
            return {
            }
        },
        computed: {
            box() {
                return this.$store.getters.centreBox
            },
            modal () {
                return this.$store.getters.modalBox
            }
        }
    }
</script>

<style lang='less' scoped>
    .geren {
        padding-top: 50px;
    }
    .content {
        min-height: 60%;
        width: 90%;
    }
    .usertop {
        background: -webkit-linear-gradient(left, #0f0e11 , #3f3345, #0f0e11); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(left, #0f0e11 , #3f3345, #0f0e11); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(left, #0f0e11 , #3f3345, #0f0e11); /* Firefox 3.6 - 15 */
        background: linear-gradient(to left, #0f0e11 , #3f3345, #0f0e11); /* 标准的语法（必须放在最后） */
        text-align: left;
        display: flex;
        align-items: center;
        color: #fece3e;
        font-size: 20px;
        padding: 10px 20px;
        margin: 20px -4px 0 -4px;
        i {
            color: #fece3e !important;
            font-size: 38px;
        }
    }
    .container.grid-list-md .layout .flex {
        padding: 0px;
    }
    .flexright {
        background: url('../../assets/mg/neibg.png') no-repeat;
        background-size: cover;
    }
</style>
<style lang="less">
    .el-form--label-top .el-form-item__label {
        padding: 0px !important;
    }
    .flexright .info {
        background-color: #8d33e2 !important;
        border-color: #8d33e2 !important;
        color: #fff !important;
    }
    .flexright .v-card {
        background: none !important;
    }
    .flexright .el-button--primary {
        background-color: #8d33e2 !important;
        border-color: #8d33e2 !important;
        color: #fff !important;
    }
    .flexright .v-btn.primary {
        color: #fff !important;
    }
    .geren {
        background: #0f0f0f;
        .el-input.is-disabled .el-input__inner {
            background: #474747 !important;
            color: #a5a5a5;
            border: none !important;
        }
        .el-input__inner,.v-input__slot {
            background: #474747 !important;
            color: #a5a5a5;
            border: none !important;
        }
        .v-text-field__slot input,.v-text-field__prefix {
            color: #a5a5a5 !important;
        }
    }
</style>




