<template>
    <v-card>
        <v-card-title class="elevation-1 title mb-1">
            <v-icon>menu</v-icon>个人中心
        </v-card-title>
        <v-card-text class="pa-0 elevation-1">
            <v-expansion-panel  v-model="panel" expand>
                <v-expansion-panel-content v-for="(item,i) in left" :key="i" class="mb-0" style="max-width:100%">
                    <div slot="header">
                        <v-icon>{{item.action}}</v-icon>{{item.title}}
                    </div>
                    <v-list class="my-0">
                        <v-list-tile ripple v-for="subItem in item.children" :key="subItem.title" @click="$store.commit('ShowCentre',subItem.href)">
                            <v-list-tile-action></v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                            </v-list-tile-content>
                            <!--v-list-tile-action>
                                <v-icon>keyboard_arrow_right</v-icon>
                            </v-list-tile-action-->
                        </v-list-tile>
                    </v-list>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        components: {
        },
        name: 'left',
        computed : {
        },
        mounted() {
            let _ = this
            let cur = this.$store.getters.centreBox
            let index = 0
            this.left.forEach(function(v,i){
                v.children.forEach(function(cv){
                    if (cur == cv.href){
                        index = i
                        return 
                    }
                })
            })
            this.$set(this.panel,index,true)
        },
        data() {
            return {
                panel:[false,false,false],
                pos:{"centre":0,"deposit":0,"withdrawal":0,"password":1,"drecord":2,"wrecord":2,"grecord":2},
                left: [
                    {
                        title: "个人信息",
                        href: "",
                        action: "perm_identity",
                        children: [{
                                        title: "个人信息",
                                        href: "profile"
                                    },
                                    {
                                        title: "银行信息",
                                        href: "cards"
                                    },
                                    {
                                        title: "登录密码",
                                        href: "password"
                                    },
                                    {
                                        title: "取款密码",
                                        href: "wpassword"
                                    }]
                    },{
                        title: "个人钱包",
                        action: "payment",
                        children: [
                            
                            {
                                title: "我的钱包",
                                href: "centre"
                            },
                            {
                                title: "我要存款",
                                href: "deposit"
                            },
                            {
                                title: "我要提现",
                                href: "withdrawal"
                            }
                        ]
                    },
                    {
                        title: "交易记录",
                        href: "",
                        action: "swap_horiz",
                        children: [{
                                title: "存款记录",
                                href: "drecord"
                            },
                            {
                                title: "取款记录",
                                href: "wrecord"
                            },
                            {
                                title: "游戏记录",
                                href: "grecord"
                            }
                        ]
                    }
    
                ]
            }
        }
    }
</script>