<template>
  <v-app id="inspire" v-if="auth">
    <!-- <HeaderToolbar></HeaderToolbar> -->
    <Header1></Header1>
    <!-- <Header></Header> -->
    <div class="margintop"></div>
    <router-view></router-view>
    <Footer></Footer>
    <LoginBox v-if="LoginBox"></LoginBox>
    <RegisterBox v-if="RegisterBox"></RegisterBox>
    <ApplyBox v-if="ApplyBox"></ApplyBox>
    <ForgetBox v-if="ForgetBox"></ForgetBox>
    <Snackbar></Snackbar>
    <div class="text-xs-center">
      <v-dialog v-model="StandBy" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text>
            正在打开，请稍候
            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </v-app>
  <v-app id="inspire" v-else>
   <v-jumbotron :gradient="'to top right, rgba(63,81,181, .7), rgba(25,32,72, .7)'" dark :src="forbidden" height="100%">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex text-xs-center>
          <h3 class="display-3">{{config['forbidden'] ? config['forbidden'] : '无效网址' }}</h3>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>
  </v-app>

</template>

<script>
  import HeaderToolbar from './components/HeaderToolbar.vue'
  import Header1 from './components/Header2.vue'
  import Footer from './components/Footer1.vue'
  import Header from './components/Header.vue'
  import LoginBox from './components/LoginBox.vue'
  import RegisterBox from './components/RegisterBox.vue'
  import ApplyBox from './components/Apply.vue'
  import ForgetBox from './components/ForgetBox.vue'
  import Snackbar from './components/Snackbar.vue'
  
  
  export default {
    name: 'app',
    components: {
      HeaderToolbar,
      Header1,
      Footer,
      Header,
      LoginBox,
      RegisterBox,
      ApplyBox,
      ForgetBox,
      Snackbar
    },
    computed: {
      LoginBox() {
        return this.$store.getters.modalBox == "login"
      },
      RegisterBox() {
        return this.$store.getters.modalBox == "register"
      },
      ApplyBox() {
        return this.$store.getters.modalBox == "apply"
      },
      ForgetBox() {
        return this.$store.getters.modalBox == "forget"
      },
      Snackbar() {
        return this.$store.getters.Snackbar
      },
      StandBy() {
        return this.$store.getters.modalBox == "standby"
      },
      auth() {
        return this.$store.getters.auth
      },
      config() {
        return this.$store.getters.config
      }
    },
    data() {
      return {
        forbidden:require('@/assets/404.jpg'),
      }
    },
    beforeMount() {
      this.$store.dispatch("BOARD")
      this.$store.commit("ShowGlobal", 'standby')
      this.$store.dispatch("onLoad")
    },
    mounted () {
      document.title = this.$store.getters.title
      if(this.$route.name == 'apply') {
          this.$store.commit("ShowGlobal",'apply')
      }else{
         this.$store.commit("ShowGlobal", '')
      }
    }
  }
</script>

<style>
  @import '../src/assets/css/index.css';
  @import url('../src/assets/css/iconfont.less');
  #inspire {
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background: url('../src/assets/mg/mainbg_02.png') no-repeat;
    /* background: #60564c !important; */
    background-size: cover;
  }
  
  #inspire .application.theme--light {
    background: none;
  }
  .nav_menu .v-list__tile{height:30px;}
  .mb-1 {
    background: #8d33e2;
  }
  .cyan--text {
    color: #8d33e2!important;
    caret-color: #8d33e2!important;
  }
  .indigo--text {
    color: #8d33e2!important;
    caret-color: #8d33e2!important;
  }
  .indigo {
    background-color: #8d33e2!important;
    border-color: #8d33e2!important;
  }
  .blue {
    background-color: #8d33e2!important;
    border-color: #8d33e2!important;
  }
  .margintop {
    margin-top: 179px;
  }
  p {
    margin: 0px;
  }
</style>